<% new = @collection.new_record? %>
<%= form_with model: @collection do |f| %>
<div class="uk-position-relative uk-margin">
  <p><span id='coll-icon-input'><%= svg 'label' %></span>
<%= f.text_field :name, class: 'uk-input login-input', placeholder: 'Name', autocomplete: 'off' %></p>
</div>
<div class="uk-margin">
<label class="<%= new ? nil : 'disabled' %>"><%= f.check_box(:needs_platform, class: 'coll-form uk-checkbox search-checkbox', disabled: !new) %> Require platform and format*</label>
<p class="small">*You will need to indicate the game's platform and format when adding to this collection</p>
</div>
<%= f.submit((new ? 'Create' : 'Update'), class: "uk-button uk-button-default") %>
<% end %>
