<%= form_for(@collection, remote: true) do |f| %>
  <%= f.text_field :custom_name, class: 'form-control' %>
  <%= f.hidden_field(:default, :value => false) if @collection.new_record? %>
  <label><%= f.radio_button(:needs_platform, true) %>Adding games require you to choose platform</label>
  <%= f.submit((@collection.new_record? ? 'Create' : 'Update'), class: "btn btn-primary") %>
<% end %>
