<div class="search-panels">
  <%= search_form_for(@q, url: collection, remote: true) do |f| %>
    <%= f.search_field(:name_dev_cont, placeholder: "Name/Developer" , autofocus: "true", autocomplete: "off") %>
    <%= f.select(:plat_eq, user_platforms, include_blank: 'Select platform') %>
    <label><%= f.radio_button(:physical_eq, true, checked: false, class: "") %> Physical</label>
    <label><%= f.radio_button(:physical_eq, false, checked: false, class: "") %> Digital</label>
    <label><%= f.radio_button(:physical_eq, nil, checked: true, class: "") %> All</label>
 <% end %>
</div>

<div id='my-search' style="display: none;"></div>
<div class="my-games">
    <%= render partial: 'panels_view/panels', locals: { collection: collection } %>
</div>

<script>
$(function() {
    $("#game_search #q_name_cont").keyup(function() {
        $.get($("#game_search").attr("action"), $("#game_search").serialize(), null, "script");
        return false;
    });
});
</script>
