<div>
    <div class="uk-width-1-1 my-search">
        <%= search_form_for(@q, url: collection, remote: true) do |f| %>
        <div class="uk-inline">
        <span class="s-icon" uk-icon="icon: search"></span>
        <%= f.search_field(:name_dev_cont, placeholder: "Title or Developer", class: 'uk-input search-input', autofocus: "true", autocomplete: "off") %>
        </div>

        <% if collection.needs_platform %>
        <div class="srch-div first"></div>
        <div uk-form-custom="target: true">
            <%= f.select(:plat_eq, user_platforms, {include_blank: 'All Platforms'}, {class: 'select-input'} ) %>
            <span></span>
        </div>

        <div class="srch-div"></div>
        <div class="radios uk-inline">
            <label class="container">All<%= f.radio_button(:physical_eq, nil, checked: true, class: '') %><span class="checkmark"></span></label>
            <label class="container">Digital<%= f.radio_button(:physical_eq, false, checked: false, class: '') %><span class="checkmark"></span></label>
            <label class="container">Physical<%= f.radio_button(:physical_eq, true, checked: false, class: '') %><span class="checkmark"></span></label>
        </div>
        <% end %>
        <%= content_tag(:button,'', id: 'search-reset', 'uk-close': '')%>
        <% end %>
    </div>
</div>
<div id='r-q' style="display: none;"></div>
<div id='r-s' style="display: none;"></div>
<div class="my-games">
    <%= render partial: 'panels_view/panels', locals: { collection: collection } %>
</div>
