
<div class="game-cover-effect" uk-toggle="target: #i-<%= game['id'] %>">
<img data-src="<%= cover_url %>" alt="<%= game["name"] %>" width="<%= width %>" height="<%= height %>" draggable="false" uk-img>
</div>


