<div id="i-<%= game['id'] %>" uk-offcanvas="mode: none">
    <div class="uk-offcanvas-bar <%= game['id'] %>">
        <!-- <button class="uk-offcanvas-close" type="button" uk-close></button> -->
        <!-- TITLE & RELEASE YEAR -->
        <h3 id="info-title"><%= game['name'] %>
        <% if game["first_release_date"]%>
        <span id="info-year">(<%= Time.at(game["first_release_date"]).year %>)</span>
        <% else %>
        <% end %>
        </h3>
        <!-- DEVELOPER -->

        <% if devs = get_developer(game) %>
            <p id="info-by">by <%= devs.join(', ') %></p>
        <% end %>

        <!-- COVER -->
        <% if cover_url %>
        <p id="info-cover"><%= image_tag(cover_url, alt: game['name'], class: "game-cover",
        draggable: "false", width: options[:width]) %></p>
        <% end %>
        <!-- PLATFORMS -->
        <% if platforms = game["platforms"] %>
        <p id="info-platform">
            <% platforms.each do |platform| %>
            <span>
                <% unless platform == platforms.last %>
                <%= platform['name'] + ', ' %>
                <% else %>
                <%= platform['name'] %>
                <% end %>
            </span>
            <% end %>
        </p>
        <% end %>
        <!-- NAVIGATION -->
        <div class="info-nav">
        <ul class="uk-iconnav">
            <li><%= link_to '', root_url, 'uk-icon' => 'icon: database' %></li>
            <li><%= link_to '', root_url, 'uk-icon' => 'icon: star' %></li>
            <li><%= link_to '', root_url, 'uk-icon' => 'icon: bell' %></li>
            <li><%= link_to '', root_url, 'uk-icon' => 'icon: settings' %></li>
        </ul>
    </div>

        <!-- ADD GAME TO COLLECTION -->
        <%= form_for(:game, url: games_path, remote: true) do |f| %>
            <% collection = current_user.collections.find_by(name: 'My Collection') %>
            <%= hidden_field_tag :collection, collection.id %>

            <%= f.hidden_field :needs_platform, value: true %>
            <%= f.hidden_field :name, value: game['name'] %>
            <%= f.hidden_field :igdb_id, value: game['id'] %>
            <% scalp_platforms(game).each do |pid| %>
                <%= f.hidden_field :platforms, value: pid, multiple: true %>
            <% end %>


            <label><%= f.radio_button(:physical, true, checked: true) %>Physical</label>
            <label><%= f.radio_button(:physical, false) %>Digital</label>

            <% if game['platforms'].size > 1 %>
                <%= f.select(:platform, platforms_for_select(game), prompt: 'Select Platform') %>
            <% else %>
                <%= f.select(:platform, platforms_for_select(game)) %>
            <% end %>
            <%= f.submit "Add to #{collection.custom_name || collection.name }", class: "btn btn-primary" %>
        <% end %>

        <div class="add-myc-errors"></div>

        <!-- ADD GAME TO WHISHLIST -->
        <%= form_for(:game, url: games_path) do |f| %>
            <% collection = current_user.collections.find_by(name: 'Wishlist') %>
            <%= hidden_field_tag :collection, collection.id %>

            <%= f.hidden_field :needs_platform, value: false %>
            <%= f.hidden_field :name, value: game['name'] %>
            <%= f.hidden_field :igdb_id, value: game['id'] %>

            <% scalp_platforms(game).each do |pid| %>
                <%= f.hidden_field :platforms, value: pid, multiple: true %>
            <% end %>

            <%= f.submit "Add to #{collection.custom_name || collection.name }", class: "btn btn-primary" %>
        <% end %>

        <!-- ADD GAME TO PLAYED -->
        <%= form_for(:game, url: games_path) do |f| %>
            <% collection = current_user.collections.find_by(name: 'I\'ve Played This') %>
            <%= hidden_field_tag :collection, collection.id %>

            <%= f.hidden_field :needs_platform, value: false %>
            <%= f.hidden_field :name, value: game['name'] %>
            <%= f.hidden_field :igdb_id, value: game['id'] %>

            <% scalp_platforms(game).each do |pid| %>
                <%= f.hidden_field :platforms, value: pid, multiple: true %>
            <% end %>

            <%= f.submit "Add to #{collection.custom_name || collection.name }", class: "btn btn-primary" %>
        <% end %>

        <!-- ADD TO CUSTOM COLLECTION -->

        <!-- ////////////////////////////////////// -->

        <hr>
        <!-- SUMMARY -->
        <% if summary = get_summary(game, 280, 50) %>
        <p id="info-summary"><%= summary[:start] %><% if summary[:end] %><span class="dots" id="dots-<%= game['id'] %>"><%= summary[:span] %><button class="uk-icon-link uk-icon ms-b-down" onclick="myFunction(<%= game['id'] %>)" uk-icon="icon: triangle-down"></button></span> <span id="more-<%= game['id'] %>" class="more"><%= summary[:end] %><button class="uk-icon-link uk-icon ms-b-up" onclick="myFunction(<%= game['id'] %>)" uk-icon="icon: triangle-up"></button></span>
    </p>
    <script>
    function myFunction(id) {
    var dots = document.getElementById("dots-" + id);
    var moreText = document.getElementById("more-" + id);
    if (dots.style.display === "none") {
    dots.style.display = "inline";
    moreText.style.display = "none";
    } else {
    dots.style.display = "none";
    moreText.style.display = "inline";
    }
    }
    </script>
    <% end %>
    <% end %>
    <!-- SLIDESHOW -->
    <% if urls = get_screenshots(game) %>
    <div class="uk-position-relative md-slideshow" uk-slideshow="animation: fade" uk-lightbox="toggle: .uk-position-cover; animation: fade">
        <ul class="uk-slideshow-items">
            <% no_of_screens = 0 %>
            <% urls.each do |url| %>
            <li>
                <%= image_tag(url[:small], alt: game['name'], "uk-cover" => "") %>
                <%= content_tag(:a, '', href: url[:big], class: 'uk-position-cover') %>
            </li>
            <% no_of_screens += 1 %>
            <% end %>
        </ul>
        <!-- SLIDESHOW NAVIGATION -->
        <% if no_of_screens > 1 %>
        <table class="t-scr">
            <tr>
                <td class="arrow">
                    <a class="uk-icon-link" href="#" uk-slideshow-item="previous" uk-icon='chevron-left'>
                    </td>
                    <td>
                        <div class="hor-cen-list">
                            <ul id="screen-nav">
                                <% no_of_screens.times do |t| %>
                                <li uk-slideshow-item="<%= t %>"><%= content_tag(:a, '', href: '#',
                                class: 'uk-icon-link', 'uk-icon' => 'image') %></li>
                                <% end %>
                            </ul>
                        </div>
                    </td>
                    <td class="arrow">
                        <a class="uk-icon-link" href="#" uk-slideshow-item="next" uk-icon='chevron-right'></a>
                    </td>
                </tr>
            </table>
            <% end %>
        </div>
        <hr>
        <% end %>
        <!-- LINKS -->

        <div id="info-links">
            <%= link_to '',"http://www.google.com/search?q=%22#{ game['name'].gsub(' ', '+') }%22+video+game" , class: "ex-link google uk-icon-button uk-margin-small-right", target: "_blank", "uk-icon" => "google" %>
            <%= link_to render('metacritic'),"https://www.metacritic.com/search/game/#{ game['name'].gsub(' ', '%20') }/results" , class: "ex-link metacritic uk-icon-button uk-margin-small-right", target: "_blank" %>

        </div>
    </div>
</div>
