<% i_settings = 'mode: none; bg-close: true' %>
<div id="i-<%= game['id'] %>" uk-offcanvas="<%= i_settings %>">
    <div class="uk-offcanvas-bar <%= game['id'] %>">
        <!-- <button class="uk-offcanvas-close" type="button" uk-close></button> -->
        <!-- TITLE & RELEASE YEAR -->
        <h3 id="info-title"><%= game['name'] %>
        <% if game["first_release_date"]%>
        <span id="info-year">(<%= Time.at(game["first_release_date"]).year %>)</span>
        <% else %>
        <% end %>
        </h3>
        <!-- DEVELOPER -->
        <% if devs = get_developer(game) %>
        <p id="info-by">by <%= devs.join(', ') %></p>
        <% end %>
        <!-- COVER -->

        <!-- PLATFORMS -->
        <% if platforms = game["platforms"] %>
        <p id="info-platform">
            <% platforms.each do |platform| %>
            <span>
                <% unless platform == platforms.last %>
                <%= platform['name'] + ', ' %>
                <% else %>
                <%= platform['name'] %>
                <% end %>
            </span>
            <% end %>
        </p>
        <% end %>



        <!-- LINKS -->
        <hr>
        <div id="info-links">
            <%= link_to '',"http://www.google.com/search?q=%22#{ game['name'].gsub(' ', '+') }%22+video+game" , class: "ex-link google uk-icon-button uk-margin-small-right", target: "_blank", "uk-icon" => "google" %>
            <%= link_to render('svgs/metacritic_icon'),"https://www.metacritic.com/search/game/#{ game['name'].gsub(' ', '%20') }/results" , class: "ex-link metacritic uk-icon-button uk-margin-small-right", target: "_blank" %>

            <button id='i-flipper-<%= game['id'] %>' class="flip"><%= render 'svgs/flip_icon' %></button>
        </div>
    </div>
</div>

