<div id="i-<%= game['id'] %>" uk-offcanvas="mode: none; bg-close: false">
    <div class="uk-offcanvas-bar <%= game['id'] %>">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <!-- TITLE & RELEASE YEAR -->
        <h3 id="info-title"><%= game['name'] %>
        <% if game["first_release_date"]%>
        <span id="info-year">(<%= Time.at(game["first_release_date"]).year %>)</span>
        <% else %>
        <% end %>
        </h3>
        <!-- DEVELOPER -->
        <% if devs = get_developer(game) %>
        <p id="info-by">by <%= devs.join(', ') %></p>
        <% end %>
        <!-- COVER -->
        <% if cover_url %>
        <p id="info-cover"><%= image_tag(cover_url, alt: game['name'], class: "game-cover",
        draggable: "false", width: options[:width]) %></p>
        <% end %>
        <!-- PLATFORMS -->
        <% if platforms = game["platforms"] %>
        <p id="info-platform">
            <% platforms.each do |platform| %>
            <span>
                <% unless platform == platforms.last %>
                <%= platform['name'] + ', ' %>
                <% else %>
                <%= platform['name'] %>
                <% end %>
            </span>
            <% end %>
        </p>
        <% end %>
        <!-- NAVIGATION -->
        <div class="info-nav">
            <ul class="uk-iconnav">
                <!-- COLLECTION -->
                <li>
                <% collection = @collections['collection'] %>
                <% tooltip = 'Add to / Remove from ' + (collection.custom_name || collection.name) %>
                <%= content_tag(:button, '',id: "add-collection-#{ game['id'] }", class: 'icon-btn uk-icon-link',
                'uk-icon' => 'database', 'uk-tooltip' => "title: #{tooltip}; pos: top-left") %>
                </li>
                <!-- WISHLIST -->
                <!-- ___ADD -->
                <% collection = @collections['wishlist'] %>
                <% added = collection.games.find_by(igdb_id: game['id']) ? true : false %>
                <%= content_tag(:li, id: "add-wishlist-form-" + game['id'].to_s,  style: added ? 'display: none;' : nil) do %>
                <%= render partial: "add_form_no_platform",
                locals: { game: game, collection: collection, icon: 'star' } %>
                <div class="underlight"></div>
                <% end %>
                <!-- ___REMOVE -->
                <%= content_tag(:li, id: "remove-wishlist-form-" + game['id'].to_s,  style: !added ? 'display: none;' : nil) do %>
                <% tooltip = 'Remove from ' + (collection.custom_name || collection.name) %>
                <%= link_to '', remove_s_url(game_igdb_id: game['id'], collection_id: collection.id),
                 class: 'uk-icon-link remove', method: :delete, remote: true, 'uk-icon' => 'star', 'uk-tooltip' => "title: #{tooltip}; pos: top-left" %>
                <div class="underlight"></div>
                <% end %>
                <!-- PLAYED -->
                <!-- ___ADD -->
                <% collection = @collections['played'] %>
                <% added = collection.games.find_by(igdb_id: game['id']) ? true : false %>
                <%= content_tag(:li, id: "add-played-form-" + game['id'].to_s,
                    style: added ? 'display: none;' : nil) do %>
                <%= render partial: "add_form_no_platform",
                locals: { game: game, collection: collection, icon: 'bell' } %>
                <% end %>
                <!-- ___REMOVE -->
                <%= content_tag(:li, id: "remove-played-form-" + game['id'].to_s, style: !added ? 'display: none;' : nil) do %>
                <% tooltip = 'Remove from ' + (collection.custom_name || collection.name) %>
                <%= link_to '', remove_s_url(game_igdb_id: game['id'], collection_id: collection.id),
                 class: 'uk-icon-link remove', method: :delete, remote: true, 'uk-icon' => 'bell', 'uk-tooltip' => "title: #{tooltip}; pos: top-left" %>
                <div class="underlight"></div>
                <% end %>
                <!-- CUSTOM -->
                <li><button id="add-custom-<%= game['id'] %>"class="icon-btn uk-icon-link" uk-icon='icon: settings'></button></li>
            </ul>
        </div>
        <!-- ADD GAME TO COLLECTION -->
        <div class="b-<%= game['id'] %>">
        <div id="add-collection-form-<%= game['id'] %>" class="add-form" uk-dropdown="toggle: #add-collection-<%= game['id'] %>; mode: click; pos: bottom-justify; delay-hide: 100; boundary-align: true; boundary: .b-<%= game['id'] %>" >

            <button class="uk-dropdown-close" type="button" uk-close></button>

            <%= form_for(:game, url: games_path, remote: true) do |f| %>
            <% collection = @collections['collection'] %>
            <%= hidden_field_tag :collection, collection.id %>
            <%= f.hidden_field :needs_platform, value: true %>
            <%= f.hidden_field :name, value: game['name'] %>
            <%= f.hidden_field :igdb_id, value: game['id'] %>
            <% scalp_platforms(game).each do |pid| %>
            <%= f.hidden_field :platforms, value: pid, multiple: true %>
            <% end %>

            <div class="uk-margin">
            <div uk-form-custom="target: > * > span:last-child">
            <% if game['platforms'].size > 1 %>
            <%= f.select(:platform, platforms_for_select(game), prompt: 'Select Platform') %>
            <% else %>
            <%= f.select(:platform, platforms_for_select(game)) %>
            <% end %>
            <span class="uk-link">
            <span class="platform-icon"><%= render 'platform' %></span>
            <span></span>
            </span>
            </div>
            </div>

            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
            <label><%= f.radio_button(:physical, true, checked: true, class: "physical") %><%= render 'physical' %> Physical</label>
            <label><%= f.radio_button(:physical, false, class: "digital") %><%= render 'digital' %> Digital</label>
            </div>


            <%= f.submit "Add" %>

            <% end %>
            <!-- <div class="add-form-errors">[]</div> -->
        </div>
        <!-- ADD TO CUSTOM COLLECTION -->
        <div id="add-custom-form-<%= game['id'] %>" class="add-form" uk-dropdown="toggle: #add-custom-<%= game['id'] %>; mode: click; pos: bottom-justify; delay-hide: 100; boundary-align: true; boundary: .b-<%= game['id'] %>">
            <% if @collections.keys.any? { |form| form == 'custom'} %>
            <%= form_for(:game, url: games_path, remote: true) do |f| %>
            <%= f.hidden_field :needs_platform, value: true %>
            <%= f.hidden_field :name, value: game['name'] %>
            <%= f.hidden_field :igdb_id, value: game['id'] %>
            <% scalp_platforms(game).each do |pid| %>
            <%= f.hidden_field :platforms, value: pid, multiple: true %>
            <% end %>
            <%= select_tag(:collection, options_for_select(collections_for_select(current_user)), prompt: 'Select Collection') %>
            <% if game['platforms'].size > 1 %>
            <%= f.select(:platform, platforms_for_select(game), prompt: 'Select Platform') %>
            <% else %>
            <%= f.select(:platform, platforms_for_select(game)) %>
            <% end %>
            <label><%= f.radio_button(:physical, true, checked: true) %>Physical</label>
            <label><%= f.radio_button(:physical, false) %>Digital</label>
            <%= f.submit 'Add', class: "btn btn-primary" %>
            <% end %>
            <div class="add-form-errors">[]</div>
            <% else %>
            <p>No custom collections to add games to!</p>
            <% end %>
        </div>
        </div>
        <hr class="nav-bottom">

        <!-- SUMMARY -->
        <% if summary = get_summary(game, 280, 50) %>
        <p id="info-summary"><%= summary[:start] %><% if summary[:end] %><span class="dots" id="dots-<%= game['id'] %>"><%= summary[:span] %><button class="uk-icon-link uk-icon ms-b-down" onclick="myFunction(<%= game['id'] %>)" uk-icon="icon: triangle-down"></button></span> <span id="more-<%= game['id'] %>" class="more"><%= summary[:end] %><button class="uk-icon-link uk-icon ms-b-up" onclick="myFunction(<%= game['id'] %>)" uk-icon="icon: triangle-up"></button></span>
    </p>
    <script>
    function myFunction(id) {
    var dots = document.getElementById("dots-" + id);
    var moreText = document.getElementById("more-" + id);
    if (dots.style.display === "none") {
    dots.style.display = "inline";
    moreText.style.display = "none";
    } else {
    dots.style.display = "none";
    moreText.style.display = "inline";
    }
    }
    </script>
    <% end %>
    <% end %>
    <!-- SLIDESHOW -->
    <% if urls = get_screenshots(game) %>
    <div class="uk-position-relative md-slideshow" uk-slideshow="animation: fade" uk-lightbox="toggle: .uk-position-cover; animation: fade">
        <ul class="uk-slideshow-items">
            <% no_of_screens = 0 %>
            <% urls.each do |url| %>
            <li>
                <%= image_tag(url[:small], alt: game['name'], "uk-cover" => "") %>
                <%= content_tag(:a, '', href: url[:big], class: 'uk-position-cover') %>
            </li>
            <% no_of_screens += 1 %>
            <% end %>
        </ul>
        <!-- SLIDESHOW NAVIGATION -->
        <% if no_of_screens > 1 %>
        <table class="t-scr">
            <tr>
                <td class="arrow">
                    <a class="uk-icon-link" href="#" uk-slideshow-item="previous" uk-icon='chevron-left'>
                    </td>
                    <td>
                        <div class="hor-cen-list">
                            <ul id="screen-nav">
                                <% no_of_screens.times do |t| %>
                                <li uk-slideshow-item="<%= t %>"><%= content_tag(:a, '', href: '#',
                                class: 'uk-icon-link', 'uk-icon' => 'image') %></li>
                                <% end %>
                            </ul>
                        </div>
                    </td>
                    <td class="arrow">
                        <a class="uk-icon-link" href="#" uk-slideshow-item="next" uk-icon='chevron-right'></a>
                    </td>
                </tr>
            </table>
            <% end %>
        </div>
        <hr>
        <% end %>
        <!-- LINKS -->
        <div id="info-links">
            <%= link_to '',"http://www.google.com/search?q=%22#{ game['name'].gsub(' ', '+') }%22+video+game" , class: "ex-link google uk-icon-button uk-margin-small-right", target: "_blank", "uk-icon" => "google" %>
            <%= link_to render('metacritic'),"https://www.metacritic.com/search/game/#{ game['name'].gsub(' ', '%20') }/results" , class: "ex-link metacritic uk-icon-button uk-margin-small-right", target: "_blank" %>
        </div>
    </div>
</div>
