<h1>Welcome <%= current_user.email %></h1>

<p><%= link_to "Add games", search_path%></p>

<h2>Your collections: </h2>

<ul>
<% current_user.collections.each do |collection| %>
  <li>
  <%= collection.custom_name || collection.name %>
  (<%= collection.default ? 'default' : 'custom' %>)
  [<%= collection.needs_platform ? 'requires platform' : 'do not need platform' %>]
  | <%= link_to 'Edit Name', edit_collection_url(collection) %>
  | <%= link_to 'Delete', collection, method: :delete, data: { confirm: "You sure?"}  %>
  </li>
<% end %>
</ul>

<%= link_to 'Create new collection', new_collection_url %>

<% current_user.collections.each do |collection| %>
  <h3><%= collection.custom_name || collection.name %>:</h3>
  <ul>
  <% collection.games.each do |game| %>
    <li><%= game.name %> | <%= game.platform_name || '[platform not defined]' %>
    | <%= link_to "remove", remove_url(game_id: game.id, collection_id: collection.id), method: :delete, remote: true %>
    </li>
  <% end %>
  </ul>
<% end %>

<p><%= link_to "Log out", logout_path, method: :delete %></p>

<button class="uk-button uk-button-default" type="button" uk-toggle="target: #offcanvas-nav-primary">Default Nav</button>

<div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">

        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            <li class="uk-active"><a href="#">Active</a></li>
            <li class="uk-parent">
                <a href="#">Parent</a>
                <ul class="uk-nav-sub">
                    <li><a href="#">Sub item</a></li>
                    <li><a href="#">Sub item</a></li>
                </ul>
            </li>
            <li class="uk-nav-header">Header</li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
        </ul>

    </div>
</div>
