<% if @inquiry.results.present? %>
  <table>
    <tr>
      <th>index</th>
      <th>Name:</th>
      <th>Year:</th>
    </tr>
    <% @inquiry.results.each.with_index do |game, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= game["name"] %></td>
        <td>
          <% if game["first_release_date"]%>
            <%= Time.at(game["first_release_date"]).year %>
          <% else %>
            -
          <% end %>
        </td>
      </tr>
   <% end %>
  </table>

  <% if @inquiry.is_more? %>
    <div id="show-more">

      <%= form_tag("/search", method: :get, remote: true) do %>
      <%= hidden_field_tag :last_query, @inquiry.query %>
      <%= hidden_field_tag :last_offset, @inquiry.offset %>
      <%= submit_tag "Search more", data: { disable_with: "Please wait..." } %>
      <% end %>

    </div>
  <% end %>
<% else %>
  <p>0 results for "<%= @inquiry.query %>"</p>
  <p>Try using "*" for searching (example: *shadd* > El Shaddai: Ascension of the Metatron)</p>
<% end %>
