<% if @results.present? %>
  <%= render 'search/' + view %>
  <% if @more_in_req %>
  <div id="show-more">
    <%= form_tag("/search_games", method: :get, remote: true) do %>
    <%= hidden_field_tag :cut, true %>
    <%= hidden_field_tag :view, view %>
    <%= submit_tag "Load more",
    class: "more-button",
    data: { disable_with: "Please wait..." } %>
    <% end %>
  </div>
  <% elsif @more_in_off %>
    <div id="show-more">
      <%= form_tag("/search_games", method: :get, remote: true) do %>
      <%= hidden_field_tag :last_form, @more_in_off[:last_form] %>
      <%= hidden_field_tag :last_query, @more_in_off[:query] %>
      <%= hidden_field_tag :last_offset, @more_in_off[:offset] %>
      <%= hidden_field_tag :view, view %>
      <%= submit_tag "Load more",
      class: "more-button",
      data: { disable_with: "Please wait..." } %>
      <% end %>
    </div>
  <% else %>
    <% if @status == 2 %>
      <div class="no-more">
        <button class="more-button" uk-scroll>Can't show you more.<br/>Please try a more precise query.</button>
      </div>
    <% end %>
  <% end %>
<% else %>
<%= render partial: 'search/no_results' %>
<% end %>
