<% if @inquiry.results.present? %>
  <%= render 'cover_view' %>
<% if @inquiry.is_more? %>









<div id="show-more">
  <%= form_tag("/search", method: :get, remote: true) do %>
  <%= hidden_field_tag :last_query, @inquiry.query %>
  <%= hidden_field_tag :last_offset, @inquiry.offset %>
  <%= submit_tag "Search more", class: "uk-button uk-button-default uk-dark" , data: { disable_with: "Please wait..." } %>
  <% end %>
</div>
<% end %>

<% else %>
<p>0 results for "<%= @inquiry.query %>"</p>
<!-- Give nicer better explanation maybe with buttons and links -->
<p>Try using "*" for searching (example: *shadd* > El Shaddai: Ascension of the Metatron)</p>
<% end %>
