<% if @results.present? %>
  <%= render 'search/' + view %>
  <% if @more_in_req %>
  <div id="show-more">
    <%= form_tag("/search_games", method: :get, remote: true) do %>
    <%= hidden_field_tag :cut, true %>
    <%= submit_tag "Load more",
    class: "more-button",
    data: { disable_with: "Please wait..." } %>
    <% end %>
  </div>
  <% elsif @more_in_off %>
    <div id="show-more">
      <%= form_tag("/search_games", method: :get, remote: true) do %>
      <%= hidden_field_tag :last_form, @more_in_off[:last_form] %>
      <%= hidden_field_tag :last_query, @more_in_off[:query] %>
      <%= hidden_field_tag :last_offset, @more_in_off[:offset] %>
      <%= submit_tag "Load more",
      class: "more-button",
      data: { disable_with: "Please wait..." } %>
      <% end %>
    </div>
  <% else %>
    <% if @status == 2 %>
      <div class="no-more">
        <button class="more-button" uk-scroll>Can't show you more.<br/>Try being more precise.</button>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="no-results">
    <p>No results</p>
  </div>
<% end %>
<%= render partial: 'layouts/s_toolbar', locals: { last_form: @inquiry.last_form.values } %>
