<% if @inquiry.results.present? %>
  <%= render 'cover_view/cover_view' %>
  <% if @inquiry.is_more? %>
  <div id="show-more">
    <%= form_tag("/search_games", method: :get, remote: true) do %>
    <%= hidden_field_tag :last_form, @inquiry.last_form %>
    <%= hidden_field_tag :last_query, @inquiry.query %>
    <%= hidden_field_tag :last_offset, @inquiry.offset %>
    <%= submit_tag "Load more",
    class: "cf-add-button",
    data: { disable_with: "Please wait..." } %>
    <% end %>
  </div>
  <% else %>
  <% if status = @inquiry.status_id == 2 %>
  <div class="no-more">
    <button class="cf-add-button" uk-scroll>Can't show you more. Try being more precise.</button>
  </div>
  <% end %>
  <% end %>
<% else %>
  <div class="no-results">
    <p>your offset "<%= @inquiry.offset %>"</p>
    <p>0 results for "<%= @inquiry.input %>"</p>
    <p>Try using "*" for searching (example: *shadd* > El Shaddai: Ascension of the Metatron)</p>
  </div>
<% end %>
<div class="scroll-up">
  <a class="scroll-up-button" href="#target"
    uk-icon="icon: arrow-up; ratio: 1.5"
  uk-scroll="duration: 600" style="display: none"></a>
</div>
