<%= form_for("search", url: 'search_games', method: :get, html: {remote: true, class: 'search-form'} ) do |f| %>
<span id="search-errors" class="uk-form-icon search-icon" uk-icon="search"></span>
<%= content_tag(:span, nil, id: "infc", class: "info-icon", "uk-icon": "info")%>
<%= f.text_field(:inquiry, placeholder: "Search video games..." , id: "search-igdb-bar", class: "uk-search-input search-bar", autofocus: "true", autocomplete: "off") %>
<div class="api-status" uk-dropdown="toggle: #infc; pos: right-center; mode: hover; animation: uk-animation-scale-up; delay-hide: 0; duration: 100">
  <%= svg 'igdb_icon' %> IGDB: Free Video Game Database
</div>
<div class="search-dropdown" uk-dropdown="toggle: #search-igdb-bar; pos: bottom-center; mode: click">
  <ul class="nav">
    <li><%= content_tag :a, nil, id: 'switch_to_f', class: 'active', 'uk-icon': 'settings' %></li>
    <li><%= content_tag :a, nil, id: 'switch_to_h', 'uk-icon': 'clock' %></li>
  </ul>
  <div id="bar-search">
    <div class="strike"><span>Search by:</span></div>
    <div class="uk-margin uk-grid-small uk-grid drop-grid">
      <label class="labels-100"><%= f.radio_button :query_type, "game", checked: true, class: "uk-radio" %> Title</label>
      <label class="labels-100"><%= f.radio_button :query_type, "char", class: "uk-radio" %> Character</label>
      <label class="labels-100"><%= f.radio_button :query_type, "dev", class: "uk-radio" %> Developer</label>
    </div>
    <div class="strike"><span>Platforms:</span></div>
    <div  id="platforms-grid" class="uk-margin uk-grid-small uk-grid">
      <div class="none-all">
        <%= content_tag :a, 'none', id: 'p-none' %>
        <%= content_tag :a, 'all', id: 'p-all' %>
      </div>
      <label class="labels-100"><%= f.check_box(:console, checked: "checked", class: "uk-checkbox search-checkbox") %> Consoles</label>
      <label class="labels-100"><%= f.check_box(:arcade, checked: "checked", class: "uk-checkbox search-checkbox") %> Arcade</label>
      <label class="labels-100"><%= f.check_box(:portable, checked: "checked", class: "uk-checkbox search-checkbox") %> Portable</label>
      <label class="labels-100"><%= f.check_box(:pc, checked: "checked", class: "uk-checkbox search-checkbox") %> PC</label>
      <label class="labels-100"><%= f.check_box(:linux, checked: "checked", class: "uk-checkbox search-checkbox") %> Linux</label>
      <label class="labels-100"><%= f.check_box(:mac, checked: "checked", class: "uk-checkbox search-checkbox") %> Mac</label>
      <label class="labels-100"><%= f.check_box(:mobile, checked: "checked", class: "uk-checkbox search-checkbox") %> Mobile</label>
      <label class="labels-100"><%= f.check_box(:computer, checked: "checked", class: "uk-checkbox search-checkbox") %> Computers</label>
      <label class="labels-100"><%= f.check_box(:other, checked: "checked", class: "uk-checkbox search-checkbox") %> Other</label>
    </div>
    <div class="strike"><span>Show: </span></div>
    <div class="uk-margin uk-grid-small uk-grid drop-grid">
      <label class="labels-177"><%= f.check_box(:only_released, checked: "checked", class: "uk-checkbox") %> Only with release date</label>
      <label class="labels-110"><%= f.check_box(:dlc, checked: "checked", class: "uk-checkbox") %> DLCs</label>
      <label class="labels-177"><%= f.check_box(:expansion, checked: "checked", class: "uk-checkbox") %> Expansions</label>
      <label class="labels-110"><%= f.check_box(:bundle, checked: "checked", class: "uk-checkbox") %> Bundles</label>
      <label class="labels-177"><%= f.check_box(:standalone, checked: "checked", class: "uk-checkbox") %> Standalone expansions</label>
      <label class="labels-110"><%= f.check_box(:erotic, checked: "checked", class: "uk-checkbox") %> Erotic games</label>
    </div>
    <div class="search-tip">
      <a uk-toggle="target: #examples; animation: uk-animation-fade">Tip: Use * wildcard</a>
      <div id="examples" hidden>
        <table>
          <tr>
            <td>platinum*</td>
            <td><span uk-icon="arrow-right"></span></td>
            <td>Platinum Games</td>
          </tr>
          <tr>
            <td>*birkin</td>
            <td><span uk-icon="arrow-right"></span></td>
            <td>William Birkin</td>
          </tr>
          <tr>
            <td>*more*</td>
            <td><span uk-icon="arrow-right"></span></td>
            <td>No More Heroes</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="drop-buttons">
      <%= f.button('Search', id: 'search', class: 'uk-button uk-button-default search-button', data: { disable_with: "<div uk-spinner=\"ratio: 0.5\"></div>" } )%>
      <%= f.submit('Reset', class: "uk-button uk-button-default reset-button", type: "reset" )%>
    </div>
  </div>
  <div id="bar-history">
    <div class="strike"><span>History:</span></div>
    <%= render @records %>
  </div>
</div>
<% end %>
