<h1>Hi there lets search for a game</h1>
<p>For now just by id...</p>

<div>
<%= form_tag("/search", method: :get) do %>
  <%= label_tag(:search_thing, "Enter game id:") %>
  <%= text_field_tag :search_thing %>
  <%= submit_tag 'Search' %>
<% end %>
</div>

<hr>

<div>
<% if game_id = params[:search_thing] %>

  <p><%=  getino(game_id) %></p>

<% end %>
</div>
