<h1>Search a game:</h1>

<p><%= ENV['S3_BUCKET'] %></p>


<%= form_tag("/search", method: :get) do %>
<%= text_field_tag(:inquiry, "Enter game's name") %>
<%= submit_tag 'Search' %>
<% end %>
<hr>
<% if @search_results %>
<table>
  <tr>
    <th>index</th>
    <th>Name:</th>
    <th>Year:</th>
  </tr>
  <% @search_results.each do |game| %>
  <tr>
    <td><%= game["name"] %></td>
    <td><%= game["first_release_date"] %></td>
    <% end %>
  </table>
  <% end %>
