<%= form_for(:session, url: signin_path, remote: true) do |f| %>
<div class="why">
  <hr class="uk-divider-vertical md-divider signin">
  <p class="head">Welcome back!</p>
    <p>Have a look at your games!</p>
  <p id="emot-happy">(◡‿◡ )</p>
</div>
<div class="input">
  <p><%= image_tag('mail.svg', alt: 'mail logo', id: 's-mail-icon', draggable: 'false')%><%= f.email_field :email, id: 'login-input-mail', class: 'uk-input uk-form-width-medium', placeholder: 'Email address' %></p>
</div>
<div class="input">
  <p class="password"><%= image_tag('key.svg', alt: 'password logo, key', id: 's-key-icon', draggable: 'false')%><%= f.password_field :password, id: 'password', class: 'password uk-input uk-form-width-medium', placeholder: 'Password' %>
  <button class="uk-button unmask" type="button"></button></p>
</div>
<div class="rem-me">
  <label><%= f.check_box(:rem_me, checked: true, class: "uk-checkbox search-checkbox") %><span class="rem-me">Keep me logged in</span></label>
</div>
</div>
<div class="submit">
<%= f.button yield(:button_text),
class: "uk-button uk-button-default create-button", data: { disable_with: "<div uk-spinner=\"ratio: 0.5\"></div>" } %>
</div>
<% end %>
