<hr class="reset-hr">
<div class="password-reset width360">
  <p class="header">Reset Password <span class="auth-icon reset-icon">!</span></p>
  <hr class="auth-hr">
  <%= form_for(@user, url: password_reset_url(params[:id]), remote: true) do |f| %>
    <p class="auth">Enter a new password for your account.</p>
    <div class="uk-position-relative">
      <%= hidden_field_tag :email, @user.email %>
      <%= f.password_field :password, id: 'reset-password', class: 'password uk-input pl40 share-input', placeholder: 'Password' %>
      <button class="uk-button unmask" type="button">
        <%= svg 'eye' %>
        <%= svg 'eye_hidden' %>
      </button>
      <span id="reset-ok" class="sign-icon"><%= svg 'key' %></span>
      <span class="warning-icon blink_me login-er"></span>
      <p id="password-min">6 characters minimum</p>
    </div>
    <div class="submit">
    <%= f.button 'Update password', class: "uk-button sh-button update-pass", data: { disable_with: "<div uk-spinner=\"ratio: 0.5\"></div>" } %>
    </div>
  <% end %>
</div>
<script>
passwordUnmask();
</script>
