<% game_name, igdb_id, id = game.name, game.igdb_id, game.id %>
<% needs_platform = collection.needs_platform %>
<%= form_for(:game, url: copy_move_path, remote: true) do |f| %>
<%= hidden_field_tag :current, collection.id %>
<%= hidden_field_tag :game_id, id %>
<%= f.hidden_field :igdb_id, value: igdb_id %>
<div class="action">
<label class="c-m chosen">Copy<%= radio_button_tag 'copy', true, checked: true %></label>
<label class="c-m" style="padding-left: 3px;">Move<%= radio_button_tag 'copy', false %></label>
<span class="cf-name"><%= shorter_name(game_name) %></span>
</div>
<hr class="md">
<div class="select-collection">
    <div uk-form-custom="target: > * > span:last-child">
        <%= select_tag(:collection, options_for_select(collections_for_select(current_user, 'all')), include_blank: 'Select collection') %>
        <span class="bigs">
            <span class="cf-collection-icon"><%= svg 'shelf_icon' %></span>
            <span></span>
        </span>
    </div>
</div>
<% disp = needs_platform ? 'box' : 'none' %>
<div id="platform-option" style="display: <%= disp %>">
    <% if game[:platforms] %>
    <%= f.hidden_field :needs_platform, value: false %>
    <div class="uk-margin select-platform">
        <div uk-form-custom="target: > * > span:last-child">
            <% if game[:platforms].size > 1 %>
            <%= f.select(:platform, platforms_for_select(game), include_blank: 'Select platform') %>
            <span class='bigs'>
                <span class="cf-platform-icon"><%= svg 'platform_icon' %></span>
                <span></span>
            </span>
            <% else %>
            <%= f.select(:platform, platforms_for_select(game)) %>
            <span class='bigs'>
                <span class="cf-platform-green"><%= svg 'platform_icon' %></span>
                <span></span>
            </span>
            <% end %>
        </div>
    </div>
    <div class="uk-margin uk-grid-small uk-grid">
        <% physical = true %>
        <% physical = game.physical if collection.needs_platform %>
        <label><%= f.radio_button(:physical, true, checked: physical, class: "cf-physical") %><%= svg 'gamebox_icon' %> Physical</label>
        <label><%= f.radio_button(:physical, false, checked: !physical, class: "cf-digital") %><%= svg 'digital_icon' %> Digital</label>
    </div>
    <% else %>
    <p>You cant copy/move game with no platform to collection that needs platform
    will be fixed soon</p>
    <% end %>
</div>
<button name="button" type="submit" class="cf-add-button">Copy</button><span class="add-form-errors"></span>
<% end %>
<script>
    <% if needs_platform %>
        function preselectPlatform(type, id, platform) {
            var form = '#' + type + '-form-' + id;
            var element = form + " #game_platform option[value^='" + platform + ",']";
            $(element).attr("selected", "selected");
            $(form + ' .cf-platform-icon').attr('class', 'cf-platform-green');
        }

        preselectPlatform('copy', <%= id %>, <%= game.platform %>)
    <% end %>

function changeButton(id) {
    var form = '#copy-form-' + id;
    var element = form + " .action input[type='radio']";
    var button = form + " .cf-add-button";
    $(element).on('input', function() {
        var selected = $(element + ":checked");
        if (selected.length > 0) {
            $(form + ' .c-m').removeClass('chosen')
            selected.parent().addClass('chosen');
            selected_val = selected.val();
        }
        b_name = eval(selected_val) ? 'Copy' : 'Move';
        $(button).text(b_name);
    });
}

changeButton(<%= id %>)

function activateForm(form_type, id) {
    var form = '#' + form_type + '-form-' + id;
    var select_element = form + ' #collection';
    var icon = $(form + ' .cf-collection-icon');
    var platform_element = form + ' #platform-option';
    var needs_platform = form + ' #game_needs_platform';

    $(select_element).on('input', function() {
        var value = $(select_element).val();
        var cv = value.length != 0 ? (value.split(",")[1] == 'true') : 'select';

        if (cv == true) {
            $(platform_element).show();
            icon.attr('class', 'cf-collection-green');
            $(needs_platform).attr('value', 'true');
        } else if (cv == false) {
            $(platform_element).hide();
            icon.attr('class', 'cf-collection-green');
            $(needs_platform).attr('value', 'false');
        } else {
            $(needs_platform).attr('value', 'false');
            icon.attr('class', 'cf-collection-icon');
            $(platform_element).hide();
        }
    });
}

activateForm('copy', <%= id %>);

function updatePlatformIcon(form_type, id) {
    var form = '#' + form_type + '-form-' + id;
    var select_element = form + ' #' + 'game_platform';

    $(select_element).on('input', function() {
        var value = $(select_element).val();
        var icon = form + ' .cf-platform-icon';
        if (value.length > 0) {
            $(icon).attr('class', 'cf-platform-green');
        } else {
            icon = form + ' .cf-platform-green';
            $(icon).attr('class', 'cf-platform-icon');
        }
    });
}

updatePlatformIcon('copy', <%= id %>);

function resetFormErrors(form, game_id) {

    var reset_elements = ['#collection', '#game_platform', '.cf-physical', '.cf-digital','#copy_true', '#copy_false']
    var errors_place = '.add-form-errors';
    var element = '#' + form + '-form-' + game_id + ' ' + errors_place;

    for (i = 0; i < reset_elements.length; i++) {

        var formPart = '#' + form + '-form-' + game_id + ' ' + reset_elements[i];

        $(formPart).on('input', function() {
            $(element).html('');
        });
    }
}
</script>
