<% game_name, igdb_id, id = game.name, game.igdb_id, game.id %>
<%= form_for(:game, url: edit_path, remote: true) do |f| %>
<%= hidden_field_tag :current, collection.id %>
<%= hidden_field_tag :game_id, id %>
<%= hidden_field_tag :last_platform, game.platform_name %>
<%= hidden_field_tag :last_physical, game.physical %>
<%= f.hidden_field :igdb_id, value: igdb_id %>
<div class="action">
<label class="c-m chosen">Edit</span></label>
<span class="cf-name"><%= shorter_name(game_name) %></span>
</div>
<hr>
<div id="platform-option">
    <% if game[:platforms] %>
    <%= f.hidden_field :needs_platform, value: false %>
    <div class="uk-margin select-platform">
        <div uk-form-custom="target: > * > span:last-child">
            <% if game[:platforms].size > 1 %>
            <%= f.select(:platform, platforms_for_select(game)) %>
            <span class='bigs'>
                <span class="cf-platform-icon"><%= svg 'platform_icon' %></span>
                <span></span>
            </span>
            <% else %>
            <%= f.select(:platform, platforms_for_select(game)) %>
            <span class='bigs'>
                <span class="cf-platform-green"><%= svg 'platform_icon' %></span>
                <span></span>
            </span>
            <% end %>
        </div>
    </div>
    <div class="uk-margin uk-grid-small uk-grid">
        <% physical = true %>
        <% physical = game.physical if collection.needs_platform %>
        <label><%= f.radio_button(:physical, true, checked: physical, class: "cf-physical") %><%= svg 'gamebox_icon' %> Physical</label>
        <label><%= f.radio_button(:physical, false, checked: !physical, class: "cf-digital") %><%= svg 'digital_icon' %> Digital</label>
    </div>
    <% else %>
    <p>You cant edit game with no platform to collection that needs platform
    will be fixed soon</p>
    <% end %>
</div>
<button name="button" type="submit" class="cf-add-button">Edit</button><span class="add-form-errors"></span>
<% end %>

<script>
    <% if collection.needs_platform %>
        preselectPlatform(<%= id %>, <%= game.platform %>)
    <% end %>
    updatePlatformIcon('copy', <%= id %>);
    activateForm('copy', <%= id %>);
</script>
