<% id = game.id %>
<% needs_platform = collection.needs_platform %>
<div id="g-<%= id %>" class="g-panel uk-width-5-6 uk-grid-collapse" uk-grid>

  <%= content_tag(:div,nil, class: 'g-click', 'gameid': id ) %>


<%= get_game_thumb(game) %>

  <div class="g-info uk-width-expand">
    <h4 class="g-title"><%= game.name %>
    <%= content_tag(:span, "(#{ Time.at(game.first_release_date).year })", class: 'g-year') if game.first_release_date %>
    </h4>
    <%= content_tag(:p, 'by ' + game.developers.map(&:name).join(', '), class: 'g-by') unless game.developers.empty? %>
  </div>

  <div class="g-right">
    <div>
      <% if needs_platform %>
      <%= content_tag(:p, game.platform_name) %>
      <%= content_tag(:p, game.physical ? 'Physical' : 'Digital') %>
      <% end %>
      <%= content_tag(:div, "#{ game.created_at.to_date }" ,class: 'g-added') %>
    </div>
  </div>

  <div id="g-drop-<%= id %>" class="g-drop uk-width-1-1">
    <div class="uk-grid-collapse" uk-grid>
      <div style="width: 70px;"></div>
      <div class="g-extra uk-width-expand">

        <% if screens = game[:screenshots] %>
        <% urls = screens_urls(screens) %>

        <div class="uk-position-relative pd-slide" uk-slideshow="animation: fade" uk-lightbox="toggle: .full-scrn; animation: fade">
          <ul class="uk-slideshow-items pd-slide-items">
            <% urls.each do |url| %>
            <li>
              <div class="spinner g-spin"><%= svg 'loading' %></div>
              <%= image_tag('', 'data-src' => url[:small], alt: '', 'uk-cover': '', 'uk-img': '') %>
              <%= content_tag(:a, '', href: url[:big], class: 'full-scrn') %>
              <div class="shadow"></div>
            </li>
            <% end %>
          </ul>
          <a class="pd-arr left" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
          <a class="pd-arr right" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        </div>

        <% end %>

        <% if summary = get_summary(game, 280, 50) %>
        <p class="g-summary"><%= summary[:start] %><% if summary[:end] %><span class="dots" id="dots-<%= id %>"><%= summary[:span] %><button class="uk-icon-link uk-icon ms-b-down" onclick="shortSummary(<%= id %>)" uk-icon="icon: triangle-down"></button></span> <span id="more-<%= id %>" class="more"><%= summary[:end] %><button class="uk-icon-link uk-icon ms-b-up" onclick="shortSummary(<%= id %>)" uk-icon="icon: triangle-up"></button></span>
      </p>
      <% end %>
      <% end %>
      <div class="g-links uk-width-expand">
        <%= link_to '',"http://www.google.com/search?q=%22#{ game.name.gsub(' ', '+') }%22+video+game" , class: "ex-link g-google uk-icon-button uk-margin-small-right", target: "_blank", "uk-icon" => "google" %>
        <%= link_to svg('metacritic_icon'),"https://www.metacritic.com/search/game/#{ game.name.gsub(' ', '%20') }/results" , class: "ex-link g-metacritic uk-icon-button uk-margin-small-right", target: "_blank" %>
      </div>
    </div>
    <div style="width: 70px;"></div>
  </div>
  <button id="g-hide-<%= id %>" class="g-hide uk-icon-link" uk-icon="chevron-up"></button>
</div>
</div>
<% extra = 'out' if edit_open %>
<div id="g-menu-<%= id %>" class="g-menu <%= extra %>">
<ul >
  <li>
    <% if needs_platform %>
    <%= link_to('', edit_form_url(game_id: id, collection_id: collection.id), id: "g-edit-#{ id }", class: 'uk-icon-link', remote: true, 'uk-icon': 'pencil', 'uk-tooltip' => "title: Edit; pos: right") %>
    <% else %>
    <%= content_tag(:a, '', class: 'uk-icon-link cf-disabled', 'uk-icon': 'pencil') %>
    <% end %>
  </li>
  <li>
    <%= link_to('', cm_form_url(game_id: id, collection_id: collection.id), id: "g-copy-#{ id }", class: 'uk-icon-link', remote: true, 'uk-icon': 'copy', 'uk-tooltip' => "title: Copy / Move; pos: right") %>
  </li>
  <li>
    <%= link_to('', remove_url(game_id: id, collection_id: collection.id), id: "g-delete-#{ id }", class: 'uk-icon-link', method: :delete, remote: true, 'uk-icon': 'trash', 'uk-tooltip': 'title: Delete; pos: right') %>
  </li>
</ul>
</div>
<div id="copy-form-<%= id %>" class="copy-form" uk-dropdown="toggle: #g-copy-<%= id %>; mode: click; delay-hide: 100; boundary: #g-menu-<%= id %>; boundary-align: true; pos: right-top">
Loading...
</div>
<% if needs_platform %>
<div id="edit-form-<%= id %>" class="copy-form" uk-dropdown="toggle: #g-edit-<%= id %>; mode: click; delay-hide: 100; boundary: #g-menu-<%= id %>; boundary-align: true; pos: right-top">
Loading...
</div>
<% end %>
