<div class="action">
<label class="c-m chosen">Add</span></label>
<span class="cf-name"><%= shorter_name(data[:name]) %></span>
</div>
<hr class="md">
<% unless (collections = collections_for_select(current_user)).empty? %>
    <%= form_with model: @game do |f| %>
    <%= f.hidden_field :id, value: data[:id] %>
    <%= f.hidden_field :igdb_id, value: data[:igdb_id] %>
    <%= hidden_field_tag 'x_id', x_id %>
    <div class="select-collection">
        <div uk-form-custom="target: > * > span:last-child">
            <% if collections.size > 1 %>
                <%= f.select(:collection, options_for_select(collections), { include_blank: 'Select collection' }, { id: 'collection' }) %>
                <span class="bigs">
                    <span class="cf-collection-icon"><%= svg 'shelf_icon' %></span>
                    <span></span>
                </span>
            <% else %>
                <%= f.select(:collection, options_for_select(collections), { id: 'collection' }) %>
                <span class="bigs">
                    <span class="cf-collection-green"><%= svg 'shelf_icon' %></span>
                    <span></span>
                </span>
            <% end %>
        </div>
    </div>
    <div id="platform-option">
        <% if data[:platforms] %>
            <% select_platforms = platforms_for_select(data) %>
        <% else %>
            <% select_platforms = user_platforms_for_select %>
        <% end %>
        <div class="uk-margin select-platform">
            <div uk-form-custom="target: > * > span:last-child">
                <% if select_platforms.size > 1 %>
                <%= f.select(:platform, select_platforms, include_blank: 'Select platform') %>
                <span class='bigs'>
                    <span class="cf-platform-icon"><%= svg 'platform_icon' %></span>
                    <span></span>
                </span>
                <% else %>
                <%= f.select(:platform, select_platforms) %>
                <span class='bigs'>
                    <span class="cf-platform-green"><%= svg 'platform_icon' %></span>
                    <span></span>
                </span>
                <% end %>
            </div>
        </div>
        <div class="uk-margin uk-grid-small uk-grid">
            <label><%= f.radio_button(:physical, true, checked: true, class: "cf-physical") %><%= svg 'gamebox_icon' %> Physical</label>
            <label><%= f.radio_button(:physical, false, class: "cf-digital") %><%= svg 'digital_icon' %> Digital</label>
        </div>
    </div>
    <button name="button" type="submit" class="cf-add-button">Add</button><span class="add-form-errors"></span>
    <% end %>
    <div class="already-in">
        <%= render(partial: 'search/already_in', locals: { igdb_id: data[:igdb_id], x_id: x_id }) if owned %>
    </div>
<% else %>
    <span class="italic blink_me"><%= svg 'warning' %> Please create collection first</span>
<% end %>



