<div class="uk-grid uk-text-center uk-flex uk-flex-center">
<% already_offcanvas = [] %>
  <% @results.each do |game| %>
    <% igdb_id = game[:igdb_id] %>
    <% x_id = game[:uniq] ? igdb_id.to_s + '-' + game[:uniq] : igdb_id %>
    <% owned_class = @owned.include?(igdb_id) ? ' owned' : '' %>

    <%= content_tag(:div, id: "gs-#{ x_id}", class: 'game-space') do %>
    <% if cover = get_game_cover(game) %>
    <div class="game-cover-effect" style="width: <%= cover[:width] %>px; height: <%= cover[:height] %>px" uk-toggle="target: #i-<%= igdb_id %>">
      <div class="spinner"><%= svg 'loading' %></div>
      <%= image_tag('', id: "gc-#{ x_id }", class: "game-cover #{ cover[:from_scrn] }", width: cover[:width], height: cover[:height], 'data-src' => cover[:url], alt: '', 'draggable' => 'false', 'uk-img' => '') %>
      <% else %>
      <div class="game-cover-effect" uk-toggle="target: #i-<%= igdb_id %>">
        <%= content_tag(:div, id: "gc-#{ igdb_id }", class: 'no-cover') do %>
        <%= content_tag(:div, game[:name], class: 'no-cover-game-name unselectable') %>
        <%= svg 'no_image' %>
        <% end %>
        <% end %>
        <!-- ADDITIONAL INFO -->
        <% if game[:addl] %>
        <div class="addl-info" uk-alert>
          <p><%= game[:addl] %></p>
        </div>
        <% end %>
      </div>
      <!-- GAME INFO -->
      <% unless already_offcanvas.include? igdb_id %>
      <% cover = nil if cover && cover[:from_scrn] %>
      <%= render partial: "search/game_info", locals: { game: game, cover: cover } %>
      <% already_offcanvas << igdb_id %>
      <% end %>
      <!-- NAME AND WARNING -->
      <p class="game-name">
        <%= content_tag(:span, nil, class: 'name' + owned_class) do %>
        <%= game[:name] %>
        <% end %>
        <%= link_to '', new_game_url(x_id: x_id, owned: !owned_class.empty?), class: 'plus', id: "add-#{ x_id }", remote: true, 'uk-icon': 'plus' %>
      </p>
      <div class="fade">
        <!-- WARNING -->
        <p class="game-warning">
          <% if (status_id = game[:status]) && status_id != 0 %>
          <button><%= convert_status(status_id) %></button>
          <% end %>
          <% if (category_id = game[:category]) && category_id != 0 %>
          <button><%= convert_category(category_id) %></button>
          <% end %>
        </p>
        <!-- RELEASE DATE -->
        <p class="game-release-date">
          <% if game[:first_release_date] %>
          <%= Time.at(game[:first_release_date]).year %>
          <% else %>
          -
          <% end %>
        </p>
        <!-- PLATFORMS -->
        <% if platforms = game[:platforms_names] %>
        <% if platforms.size > 3 %>
        <% rest = platforms[3..-1] %>
        <% 2.times do |i| %>
        <p class="game-platform"><%= platforms[i]%></p>
        <% end %>
        <p class="game-platform"><%= platforms[2]%>
          <label class="mp-label"><input class="mp" type="checkbox" uk-icon="triangle-down" uk-toggle="target: #mp-<%= igdb_id %>; animation: uk-animation-fade"></label>
        </p>
        <div id="mp-<%= igdb_id %>" hidden>
          <% rest.each do |platform| %>
          <p class="game-platform"><%= platform %></p>
          <% end %>
        </div>
        <% else %>
        <% platforms.each do |platform| %>
        <p class="game-platform"><%= platform %></p>
        <% end %>
        <% end %>
        <% end %>
      </div>
      <%= content_tag(:div, 'Loading...', id: "add-form-#{ x_id }", class: 'add-form white-form', 'uk-dropdown': "toggle: #add-#{ x_id }; mode: click; boundary: #gs-#{ x_id }; boundary-align: true;  delay-hide: 100;  pos: right-top") %>
      <% end %>
      <% end %>
</div>
