<%= content_tag :table, class: 's-table uk-table' do %>
    <% @results.each do |game| %>
    <% igdb_id = game[:igdb_id] %>



    <%= content_tag :tr, id: "s-#{ igdb_id }" do %>











        <%= content_tag :td, class: 's-name' do %>

            <%= link_to('', table_show_url(igdb_id), class: 's-trigger', remote: true, 'uk-toggle': 'target: #t-game-show') %>


            <%= game[:name] %>
            <% if (status_id = game[:status]) && status_id != 0 %>
                <%= content_tag :span, "/ #{ convert_status(status_id) }", class: 'gw-b' %>
            <% end %>
            <% if (category_id = game[:category]) && category_id != 0 %>
                <%= content_tag :span, "/ #{ convert_category(category_id) }", class: 'gw-b' %>
            <% end %>
        <% end %>

        <%= content_tag :td, class: 's-release' do %>


            <%= link_to('', table_show_url(igdb_id), class: 's-trigger', remote: true, 'uk-toggle': 'target: #t-game-show') %>

            <%= game[:first_release_date] ? Time.at(game[:first_release_date]).year : '-' %>
        <% end %>

        <%= content_tag :td, class: 's-developer uk-text-truncate' do %>



            <%= link_to('', table_show_url(igdb_id), class: 's-trigger', remote: true, 'uk-toggle': 'target: #t-game-show') %>


            <%= game[:developers] ? game[:developers].join(', ') : '-' %>
        <% end %>

        <%= content_tag :td, class: 's-platform uk-table-expand' do %>



            <%= link_to('', table_show_url(igdb_id), class: 's-trigger', remote: true, 'uk-toggle': 'target: #t-game-show') %>

            <%= game[:platforms_names] ? game[:platforms_names].join(', ') : '-' %>
        <% end %>

        <%= content_tag :td, class: 's-add' do %>
            <%= link_to '', root_url, remote: true, 'uk-icon': 'plus' %>
        <% end %>

    <% end %>
    <tr class="no-shadow"><th></th></tr>
    <% end %>
<% end %>

<!-- CHANGE CONTAINERS!!!! -->
<div id="t-game-show" uk-modal ="container: .my-games">
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="modal-content">
            Loading...
        </div>
    </div>
</div>

<!-- CHANGE CONTAINERS!!!! -->
<div id="t-ops" uk-modal ="container: .my-games">
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <div class="modal-content">
            Loading...
        </div>
    </div>
</div>
