<%= content_tag :table, class: 's-table uk-table' do %>
<% @results.each do |game| %>
    <% igdb_id = game[:igdb_id] %>
    <% x_id = game[:uniq] ? igdb_id.to_s + '-' + game[:uniq] : igdb_id %>

    <%= content_tag :tr, id: "t-#{ igdb_id }" do %>

        <%= content_tag :td, class: 's-info' do %>
            <%= link_to('', list_show_url(igdb_id, igdb_id), class: 's-trigger', remote: true, 'uk-toggle': 'target: #t-game-show') %>
            <%= content_tag :span, game[:name], class: 's-name' %>
            <% if (status_id = game[:status]) && status_id != 0 %>
                <%= content_tag :span, "/ #{ convert_status(status_id) }", class: 'gw-b' %>
            <% end %>
            <% if (category_id = game[:category]) && category_id != 0 %>
                <%= content_tag :span, "/ #{ convert_category(category_id) }", class: 'gw-b' %>
            <% end %>
        <% end %>

        <%= content_tag :td, class: 's-release' do %>
            <%= link_to('', list_show_url(igdb_id, igdb_id), class: 's-trigger', remote: true, 'uk-toggle': 'target: #t-game-show') %>
            <%= game[:first_release_date] ? Time.at(game[:first_release_date]).year : '-' %>
        <% end %>

        <%= content_tag :td, class: 's-developer uk-text-truncate' do %>
            <%= link_to('', list_show_url(igdb_id, igdb_id), class: 's-trigger', remote: true, 'uk-toggle': 'target: #t-game-show') %>
            <%= game[:developers] ? game[:developers].join(', ') : '-' %>
        <% end %>

        <%= content_tag :td, class: 's-platform uk-table-expand' do %>
            <%= link_to('', list_show_url(igdb_id, igdb_id), class: 's-trigger', remote: true, 'uk-toggle': 'target: #t-game-show') %>
            <%= game[:platforms_names] ? game[:platforms_names].join(', ') : '-' %>
        <% end %>

        <%= content_tag :td, class: 's-add' do %>
           <% add = @owned.include?(igdb_id) ? ['check','Add more'] : ['plus', 'Add'] %>
           <%= link_to '', new_game_url(x_id: x_id, owned: add.first == 'check'), remote: true, 'uk-icon': add.first, 'uk-toggle': 'target: #t-ops', 'uk-tooltip': "title: #{ add.last }; pos: right" %>
        <% end %>

    <% end %>
    <tr class="no-shadow"><th></th></tr>
<% end %>
<% end %>

<div id="t-game-show" uk-modal="container: #search-results">
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical" uk-overflow-auto>
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="modal-content">
            Loading...
        </div>
    </div>
</div>

<div id="t-ops" uk-modal ="container: #search-results">
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <div class="modal-content">
            Loading...
        </div>
    </div>
</div>
