<%= content_tag :table, id: 'view-container', class: 's-table uk-table', 'view': 'list' do %>
<% @results.each do |game| %>
    <% igdb_id = game[:igdb_id] %>
    <% x_id = game[:uniq] ? igdb_id.to_s + '-' + game[:uniq] : igdb_id %>

    <% if game[:addl] %>
        <%= content_tag :tr, class: 'l-addl' do %>
            <%= content_tag :td, content_tag(:div, game[:addl], class: "l-addl-hide xif #{ addl_hidden? ? 'hidden' : '' }") %>
        <% end %>
    <% end %>

    <%= content_tag :tr, id: "t-#{ igdb_id }" do %>

        <%= content_tag :td, class: 's-info' do %>
            <%= link_to('', list_show_url(igdb_id, igdb_id), class: 's-trigger', remote: true, 'uk-toggle': 'target: #t-game-show') %>
            <%= content_tag :span, game[:name], class: 's-name' %>
            <% if (status_id = game[:status]) && status_id != 0 %>
                <%= content_tag :span, "/ #{ convert_status(status_id) }", class: 'gw-b' %>
            <% end %>
            <% if (category_id = game[:category]) && category_id != 0 %>
                <%= content_tag :span, "/ #{ convert_category(category_id) }", class: 'gw-b' %>
            <% end %>
        <% end %>

        <%= content_tag :td, class: 's-release' do %>
            <%= link_to('', list_show_url(igdb_id, igdb_id), class: 's-trigger', remote: true, 'uk-toggle': 'target: #t-game-show') %>
            <%= game[:first_release_date] ? Time.at(game[:first_release_date]).year : '-' %>
        <% end %>

        <%= content_tag :td, class: 's-developer uk-text-truncate' do %>
            <%= link_to('', list_show_url(igdb_id, igdb_id), class: 's-trigger', remote: true, 'uk-toggle': 'target: #t-game-show') %>
            <%= game[:developers] ? game[:developers].join(', ') : '-' %>
        <% end %>

        <%= content_tag :td, class: 's-platform uk-table-expand' do %>
            <%= link_to('', list_show_url(igdb_id, igdb_id), class: 's-trigger', remote: true, 'uk-toggle': 'target: #t-game-show') %>
            <%= game[:platforms_names] ? game[:platforms_names].join(', ') : '-' %>
        <% end %>

        <%= content_tag :td, class: 's-add' do %>
           <% add = @owned.include?(igdb_id) ? 'check' : 'plus' %>
           <%= link_to '', new_game_url(x_id: x_id, owned: add == 'check'),id: "add-#{ x_id }", remote: true, 'uk-icon': add, 'uk-toggle': 'target: #t-ops' %>
        <% end %>

    <% end %>
    <tr class="no-shadow"><th></th></tr>
<% end %>
<% end %>

<% unless load_more %>
<div id="t-game-show" uk-modal="container: #search-results">
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical" uk-overflow-auto>
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="modal-content">
            <span class="loading">Loading</span>
        </div>
    </div>
</div>

<div id="t-ops" uk-modal ="container: #search-results">
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <div class="modal-content">
            <span class="loading">Loading</span>
        </div>
    </div>
</div>
<% end %>
