<% game_name, igdb_id, id = game.name, game.igdb_id, game.id %>
<% needs_platform = collection.needs_platform %>
<%= form_for(:game, url: copy_move_path, remote: true) do |f| %>
<%= hidden_field_tag :current, collection.id %>
<%= hidden_field_tag :game_id, id %>
<%= hidden_field_tag :view, view %>
<%= f.hidden_field :igdb_id, value: igdb_id %>

<div class="action uk-grid-collapse" uk-grid>
    <div class="cm-inputs">
        <label class="c-m chosen">Copy<%= radio_button_tag 'copy', true, checked: true %></label>
        <label class="c-m" style="padding-left: 3px;">Move<%= radio_button_tag 'copy', false %></label>
    </div>
    <div class="cf-name uk-text-truncate uk-width-expand">
        <%= game_name %>
    </div>
</div>

<hr class="md">
<div class="select-collection">
    <div uk-form-custom="target: > * > span:last-child">
        <%= select_tag(:collection, options_for_select(collections_for_select(current_user)), include_blank: 'Select collection') %>
        <span class="bigs">
            <span class="cf-collection-icon"><%= svg 'shelf_icon' %></span>
            <span></span>
        </span>
    </div>
</div>
<% disp = needs_platform ? 'box' : 'none' %>
<div id="platform-option" style="display: <%= disp %>">
    <% if game[:platforms] %>
        <% select_platforms = platforms_for_select(game) %>
    <% else %>
        <% select_platforms = user_platforms_for_select %>
    <% end %>
    <%= f.hidden_field :needs_platform, value: false %>
    <div class="uk-margin select-platform">
        <div uk-form-custom="target: > * > span:last-child">
            <% if select_platforms.size > 1 %>
            <%= f.select(:platform, select_platforms, include_blank: 'Select platform') %>
            <span class='bigs'>
                <span class="cf-platform-icon"><%= svg 'platform_icon' %></span>
                <span></span>
            </span>
            <% else %>
            <%= f.select(:platform, select_platforms) %>
            <span class='bigs'>
                <span class="cf-platform-green"><%= svg 'platform_icon' %></span>
                <span></span>
            </span>
            <% end %>
        </div>
    </div>
    <div class="uk-margin uk-grid-small uk-grid">
        <% physical = true %>
        <% physical = game.physical if collection.needs_platform %>
        <label><%= f.radio_button(:physical, true, checked: physical, class: "cf-physical") %><%= svg 'gamebox_icon' %> Physical</label>
        <label><%= f.radio_button(:physical, false, checked: !physical, class: "cf-digital") %><%= svg 'digital_icon' %> Digital</label>
    </div>
</div>
<button name="button" type="submit" id="cf-cm-button">Copy</button>
<span class="add-form-errors blink_me"><%= svg 'x_warning' %><span></span></span>
<% end %>
