<div class="sort-links">
  <span class="sort-icon"><%= svg 'sort' %></span>
  <%= sort_link(@q, :name,'Title', {}, {remote: true}) %>
  <div class="srch-div"></div>
  <%= sort_link(@q, :first_release_date,'Release Date', {}, {remote: true}) %>
  <div class="srch-div"></div>
  <%= sort_link(@q, :added,'Added', {}, {remote: true}) %>
</div>
<% if !@games.empty? %>
<div class="uk-grid uk-text-center uk-flex uk-flex-center covers-grid">
  <div class="uk-width-1-1 page-links pr cover-mod cover-mod-top">
    <%= js_will_paginate @games, container: false %>
  </div>
  <% @games.select('games.*, collection_games.created_at').each do |game| %>
  <% id, igdb_id = game[:id], game[:igdb_id] %>
  <% needs_platform = collection.needs_platform %>
  <%= content_tag :div, id: "gs-#{ id }", class: 'game-space' do %>
  <% if cover = get_game_cover(game) %>
  <%= link_to(cover_show_url(igdb_id), class: 'game-cover-effect', style: "width: #{ cover[:width] }px; height: #{ cover[:height] }px", remote: true, 'uk-toggle': "target: #i-lone") do %>
  <%= content_tag :div, svg('loading'), class: 'spinner' %>
  <%= image_tag('', alt: '', id: "gc-#{ id }", class: "game-cover #{ cover[:from_scrn] }", width: cover[:width], height: cover[:height], 'data-src' => cover[:url], 'draggable' => 'false', 'uk-img' => '') %>
  <% end %>
  <% else %>
  <%= link_to(cover_show_url(igdb_id), class: 'game-cover-effect', remote: true, 'uk-toggle': "target: #i-lone") do %>
  <%= content_tag(:div, id: "gc-#{ id }", class: 'no-cover') do %>
  <%= content_tag(:div, game[:name], class: 'no-cover-game-name') %>
  <%= svg 'no_image' %>
  <% end %>
  <% end %>
  <% end %>
  <div class="c-game-name">
    <%= content_tag(:span, nil, class: 'name') do %>
    <%= game[:name] %>
    <% end %>
  </div>
  <p class="game-warning">
    <% if (status_id = game[:status]) && status_id != 0 %>
    <button><%= convert_status(status_id) %></button>
    <% end %>
    <% if (category_id = game[:category]) && category_id != 0 %>
    <button><%= convert_category(category_id) %></button>
    <% end %>
  </p>
  <p class="game-release-date">
    <% if game[:first_release_date] %>
    <%= Time.at(game[:first_release_date]).year %>
    <% else %>
    -
    <% end %>
  </p>
  <% ucs_class, ucs_hid = ucs_closed? ? ['hidden', true] : [nil, false]  %>
  <% unless shared %>
  <% cm_class, cm_hid =  edit_open? ? [nil, false] : ['hidden', true] %>
  <% extra = 'hidden' if ucs_hid && cm_hid %>
  <%= content_tag :hr, nil, class: "shr #{ extra }" %>
  <%= content_tag :div , class: "c-menu #{ cm_class }" do %>
  <ul class="uk-iconnav">
    <li>
      <% if needs_platform %>
      <%= link_to('', edit_form_url(game_id: id, collection_id: collection.id, view: @view), id: "g-edit-#{ id }", remote: true, 'uk-icon': 'pencil', 'uk-tooltip' => "title: Edit; pos: top-center") %>
      <% else %>
      <%= content_tag(:a, '', class: 'uk-icon-link cf-disabled', 'uk-icon': 'pencil') %>
      <% end %>
    </li>
    <li>
      <%= link_to('', cm_form_url(game_id: id, collection_id: collection.id, view: @view), id: "g-copy-#{ id }", remote: true, 'uk-icon': 'copy', 'uk-tooltip' => "title: Copy / Move; pos: top-center") %>
    </li>
    <li>
      <%= link_to('', remove_url(game_id: id, collection_id: collection.id, view: @view), id: "g-delete-#{ id }", method: :delete, remote: true, 'uk-icon': 'trash', 'uk-tooltip': 'title: Delete; pos: top-center') %>
    </li>
  </ul>
  <% end %>
  <% else %>
  <% extra = 'hidden' if ucs_hid %>
  <%= content_tag :hr, nil, class: "shr #{ extra }" %>
  <%= content_tag :div, nil, class: "c-menu hidden"%>
  <% end %>
  <%= content_tag :div , class: "uc-s #{ ucs_class }" do %>
  <% if needs_platform %>
  <%= content_tag(:p, game.platform_name, class: 'game-platform') %>
  <%= content_tag(:p, "(#{ game.physical ? 'Physical' : 'Digital' })", class: 'game-platform') %>
  <% end %>
  <%= content_tag(:p, game.created_at.to_date ,class: 'g-added italic') %>
  <% end %>
  <% end %>
  <% unless shared %>
  <%= content_tag :div, id: "copy-form-#{ id }", class: 'copy-form white-form', 'uk-dropdown': "toggle: #g-copy-#{ id }; mode: click; delay-hide: 100; boundary: #gs-#{ id }; boundary-align: true; pos: right-top" do %>
  <span class="loading">Loading</span>
  <% end %>
  <% if needs_platform %>
  <%= content_tag :div, id: "edit-form-#{ id }", class: 'edit-form white-form', 'uk-dropdown': "toggle: #g-edit-#{ id }; mode: click; delay-hide: 100; boundary: #gs-#{ id }; boundary-align: true; pos: right-top"  do %>
  <span class="loading">Loading</span>
  <% end %>
  <% end %>
  <% end %>
  <% end %>
  <div class="uk-width-1-1 page-links cover-mod cover-mod-bottom">
    <%= js_will_paginate @games, container: false %>
  </div>
</div>
<div id="i-lone" uk-offcanvas="mode: none; bg-close: true">
  <div class="uk-offcanvas-bar">
    <span class="loading">Loading</span>
  </div>
</div>
<% else %>
<%= render partial: 'my_games/no_games', locals: { my_search: @in_search } %>
<% end %>
