<div class="sort-links">
  <span class="sort-icon"><%= svg 'sort' %></span>
  <%= sort_link(@q, :name,'Title', {}, {remote: true}) %>
  <div class="srch-div"></div>
  <%= sort_link(@q, :first_release_date,'Release Date', {}, {remote: true}) %>
  <div class="srch-div"></div>
  <%= sort_link(@q, :added,'Date Added', {}, {remote: true}) %>
</div>
<div class="uk-grid uk-text-center uk-flex uk-flex-center covers-grid">
  <div class="uk-width-1-1 page-links pr cover-mod cover-mod-top">
    <%= js_will_paginate @games, container: false %>
  </div>
  <% @games.select('games.*, collection_games.created_at').each do |game| %>
  <% id = game[:id] %>
  <% needs_platform = collection.needs_platform %>
  <%= content_tag :div, id: "gs-#{ id }", class: 'game-space' do %>
  <!-- COVER -->
  <% if cover = get_game_cover(game) %>
  <%= link_to(cover_show_url(id), class: 'game-cover-effect', style: "width: #{ cover[:width] }px; height: #{ cover[:height] }px", remote: true, 'uk-toggle': "target: #i-lone") do %>
  <%= content_tag :div, svg('loading'), class: 'spinner' %>
  <%= image_tag('', alt: '', id: "gc-#{ id }", class: "game-cover #{ cover[:from_scrn] }", width: cover[:width], height: cover[:height], 'data-src' => cover[:url], 'draggable' => 'false', 'uk-img' => '') %>
  <% end %>
  <% else %>
  <%= link_to(cover_show_url(id), class: 'game-cover-effect', remote: true, 'uk-toggle': "target: #i-lone") do %>
  <%= content_tag(:div, id: "gc-#{ id }", class: 'no-cover') do %>
  <%= content_tag(:div, game[:name], class: 'no-cover-game-name unselectable') %>
  <%= svg 'no_image' %>
  <% end %>
  <% end %>
  <% end %>
  <!-- NAME AND WARNING -->
  <div class="c-game-name">
    <%= content_tag(:span, nil, class: 'name') do %>
    <%= game[:name] %>
    <% end %>
  </div>
  <!-- WARNING -->
  <p class="game-warning">
    <% if (status_id = game[:status]) && status_id != 0 %>
    <button><%= convert_status(status_id) %></button>
    <% end %>
    <% if (category_id = game[:category]) && category_id != 0 %>
    <button><%= convert_category(category_id) %></button>
    <% end %>
  </p>
  <!-- RELEASE DATE -->
  <p class="game-release-date">
    <% if game[:first_release_date] %>
    <%= Time.at(game[:first_release_date]).year %>
    <% else %>
    -
    <% end %>
  </p>

<% ucs_style, ucs_hid = ucs_close? ? ['display: none;', true] : [nil, false]  %>
<% cm_style, cm_hid =  edit_open? ? ['display: block;', false] : [nil, true] %>
<% extra = 'hidden' if ucs_hid && cm_hid %>
  <%= content_tag :hr, nil, class: "shr #{ extra }" %>
  <!-- OPTIONS -->
  <%= content_tag :div , class: "c-menu", style: cm_style do %>
  <ul class="uk-iconnav">
    <li>
      <% if needs_platform %>
      <%= link_to('', edit_form_url(game_id: id, collection_id: collection.id, view: @view), id: "g-edit-#{ id }", remote: true, 'uk-icon': 'pencil', 'uk-tooltip' => "title: Edit; pos: top-center") %>
      <% else %>
      <%= content_tag(:a, '', class: 'uk-icon-link cf-disabled', 'uk-icon': 'pencil') %>
      <% end %>
    </li>
    <li>
      <%= link_to('', cm_form_url(game_id: id, collection_id: collection.id, view: @view), id: "g-copy-#{ id }", remote: true, 'uk-icon': 'copy', 'uk-tooltip' => "title: Copy / Move; pos: top-center") %>
    </li>
    <li>
      <%= link_to('', remove_url(game_id: id, collection_id: collection.id, view: @view), id: "g-delete-#{ id }", method: :delete, remote: true, 'uk-icon': 'trash', 'uk-tooltip': 'title: Delete; pos: top-center') %>
    </li>
  </ul>
  <% end %>
  <!-- PLATFORMS -->
  <%= content_tag :div , class: "uc-s", style: ucs_style do %>
  <% if needs_platform %>
  <%= content_tag(:p, game.platform_name, class: 'game-platform') %>
  <%= content_tag(:p, "(#{ game.physical ? 'Physical' : 'Digital' })", class: 'game-platform') %>
  <% end %>
  <!-- ADDED AT -->
  <%= content_tag(:p, game.created_at.to_date ,class: 'g-added italic') %>
  <% end %>
  <% end %>
  <% end %>
  <div class="uk-width-1-1 page-links cover-mod cover-mod-bottom">
    <%= js_will_paginate @games, container: false %>
  </div>
</div>
<!-- GAME INFO -->
<div id="i-lone" uk-offcanvas="mode: none; bg-close: true">
  <div class="uk-offcanvas-bar">
    Loading...
  </div>
</div>
