<div class="uk-grid uk-text-center uk-flex uk-flex-center covers-grid">

    <div class="uk-width-1-1 page-info-front">
        <div class="page-links pr cover-mod top">
            <%= js_will_paginate @games, container: false %>
        </div>
    </div>

  <% already_offcanvas = [] %>
  <% @games.each do |game| %>
  <% id = game[:id] %>
  <div id="gs-<%= id %>" class="game-space">
    <!-- COVER -->
    <% if cover = get_game_cover(game) %>
    <div class="game-cover-effect" style="width: <%= cover[:width] %>px; height: <%= cover[:height] %>px" uk-toggle="target: #i-<%= id %>">


      <div class="spinner"><%= svg 'loading' %></div>

      <%= image_tag('', id: "gc-#{ id }", class: "game-cover #{ cover[:from_scrn] }", width: cover[:width], height: cover[:height], 'data-src' => cover[:url], alt: game[:name], 'draggable' => 'false', 'uk-img' => '') %>


      <% else %>
      <div class="game-cover-effect" uk-toggle="target: #i-<%= id %>">
        <%= content_tag(:div, id: "gc-#{ id }", class: 'no-cover') do %>
        <%= content_tag(:div, game[:name], class: 'no-cover-game-name unselectable') %>
        <%= svg 'no_image' %>
        <% end %>
        <% end %>
        <!-- ADDITIONAL INFO -->
        <% if game[:addl] %>
        <div class="addl-info" uk-alert>
          <p><%= game[:addl] %></p>
        </div>
        <% end %>
      </div>
      <!-- GAME INFO -->
      <% unless already_offcanvas.include? id %>
      <% cover = nil if cover && cover[:from_scrn] %>
      <%= render partial: "cover_view/game_info", locals: { game: game, cover: cover } %>
      <% already_offcanvas << id %>
      <% end %>
      <!-- NAME AND WARNING -->
      <p class="game-name">
        <%= content_tag(:span, nil, class: 'name') do %>
        <%= game[:name] %>
        <% end %>
      </p>
      <div class="fade">
        <!-- WARNING -->
        <p class="game-warning">
          <% if (status_id = game[:status]) && status_id != 0 %>
          <button><%= convert_status(status_id) %></button>
          <% end %>
          <% if (category_id = game[:category]) && category_id != 0 %>
          <button><%= convert_category(category_id) %></button>
          <% end %>
        </p>
        <!-- RELEASE DATE -->
        <p class="game-release-date">
          <% if game[:first_release_date] %>
          <%= Time.at(game[:first_release_date]).year %>
          <% else %>
          -
          <% end %>
        </p>
        <!-- PLATFORMS -->
        <% if platforms = game[:platforms_names] %>
        <% if platforms.size > 3 %>
        <% rest = platforms[3..-1] %>
        <% 2.times do |i| %>
        <p class="game-platform"><%= platforms[i]%></p>
        <% end %>
        <p class="game-platform"><%= platforms[2]%>
          <label class="mp-label"><input class="mp" type="checkbox" uk-icon="triangle-down" uk-toggle="target: #mp-<%= id %>; animation: uk-animation-fade"></label>
        </p>
        <div id="mp-<%= id %>" hidden>
          <% rest.each do |platform| %>
          <p class="game-platform"><%= platform %></p>
          <% end %>
        </div>
        <% else %>
        <% platforms.each do |platform| %>
        <p class="game-platform"><%= platform %></p>
        <% end %>
        <% end %>
        <% end %>
    </div>
    </div>
    <% end %>


  <div class="uk-width-1-1 page-links cover-mod bottom">
      <%= js_will_paginate @games, container: false %>
  </div>
</div>
