<div class="sort-links">
    <span class="sort-icon"><%= svg 'sort' %></span>
    <%= sort_link(@q, :name,'Title', {}, {remote: true}) %>
    <div class="srch-div"></div>
    <%= sort_link(@q, :first_release_date,'Release Date', {}, {remote: true}) %>
    <div class="srch-div"></div>
    <%= sort_link(@q, :added,'Date Added', {}, {remote: true}) %>
</div>

<%= render partial: 'my_games/covers' %>
