<div class="sort-links">
  <span class="sort-icon"><%= svg 'sort' %></span>
  <%= sort_link(@q, :name,'Title', {}, {remote: true}) %>
  <div class="srch-div"></div>
  <%= sort_link(@q, :first_release_date,'Release Date', {}, {remote: true}) %>
  <div class="srch-div"></div>
  <%= sort_link(@q, :added,'Date Added', {}, {remote: true}) %>
</div>
<div class="uk-grid-collapse">
  <div class="uk-width-1-1 page-links pr">
    <%= js_will_paginate @games, container: false %>
  </div>
  <% needs_platform = collection.needs_platform %>

  <table class="games-table">
    <% @games.select('games.*, collection_games.created_at').each do |game| %>
    <tr>
      <%= content_tag :td, class: 't-name' do %>
      <%= game.name %>
      <% if (status_id = game[:status]) && status_id != 0 %>
      <%= content_tag :button, "/ #{ convert_status(status_id) }", class: 'gw-b' %>
      <% end %>
      <% if (category_id = game[:category]) && category_id != 0 %>
      <%= content_tag :button, "/ #{ convert_category(category_id) }", class: 'gw-b' %>
      <% end %>
      <% end %>
      <% release = game[:first_release_date] ? Time.at(game[:first_release_date]).year : '-' %>
      <%= content_tag :td, release, class: 't-release' %>
      <% developer = !game.developers.empty? ? game.developers.map(&:name).join(', ') : '-' %>
      <%= content_tag :td, developer, class: 't-developer' %>
      <% if needs_platform %>
      <%= content_tag :td, game.platform_name, class: 't-platform' %>
      <%= content_tag :td, game.physical ? 'Physical' : 'Digital', class: 't-format' %>
      <% end %>
      <%= content_tag :td, game.created_at.to_date, class: 't-added' %>

      <td class="t-ops">
        <% if needs_platform %>
            <%= link_to('', edit_form_url(game_id: game.id, collection_id: collection.id, view: @view), id: "g-edit-#{ game.id }", class: 'uk-icon-link', remote: true, 'uk-icon': 'pencil', 'uk-tooltip' => "title: Edit; pos: right") %>
            <% else %>
            <%= content_tag(:a, '', class: 'uk-icon-link cf-disabled', 'uk-icon': 'pencil') %>
            <% end %>
            <%= link_to('', cm_form_url(game_id: game.id, collection_id: collection.id, view: @view), id: "g-copy-#{ game.id }", class: 'uk-icon-link', remote: true, 'uk-icon': 'copy', 'uk-tooltip' => "title: Copy / Move; pos: right") %>
            <%= link_to('', remove_url(game_id: game.id, collection_id: collection.id, view: @view), id: "g-delete-#{ game.id }", class: 'uk-icon-link', method: :delete, remote: true, 'uk-icon': 'trash', 'uk-tooltip': 'title: Delete; pos: right') %>
      </td>
    </tr>
    <% end %>
  </table>

  <div class="uk-width-1-1 page-links bottom ">
    <%= js_will_paginate @games, container: false %>
  </div>
</div>

<div class="t-game-show" uk-modal ="container: .my-games">
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="modal-content">
      Loading...
    </div>
  </div>
</div>
