<div class="sort-links">
    <span class="sort-icon"><%= svg 'sort' %></span>
    <%= sort_link(@q, :name,'Title', {}, {remote: true}) %>
    <div class="srch-div"></div>
    <%= sort_link(@q, :first_release_date,'Release Date', {}, {remote: true}) %>
    <div class="srch-div"></div>
    <%= sort_link(@q, :added,'Added', {}, {remote: true}) %>
</div>
<% if !@games.empty? %>
<div class="uk-grid-collapse" uk-grid>
    <div id="pr" class="uk-width-5-6 page-info-front page-links">
        <%= js_will_paginate @games, container: false %>
    </div>
    <% @games.select('games.*, collection_games.created_at').each do |game| %>
    <% id = game.id %>
    <% needs_platform = collection.needs_platform %>
    <% extra = 'out' if edit_open? && !shared %>
    <%= content_tag :div, id: "g-#{ id }", class: 'g-panel uk-width-5-6' do %>
    <div class="not-drop uk-position-relative">
        <%= get_game_thumb(game) %>
        <%= content_tag(:div,nil, class: 'g-click', 'gameid' => id, 'igdb_id' => game.igdb_id) %>
        <div class="hold-title uk-width-expand">
            <h4 class="g-title"><%= game.name %>
            <% if (status_id = game[:status]) && status_id != 0 %>
            <%= content_tag :span, "/ #{ convert_status(status_id) }", class: 'gw-b' %>
            <% end %>
            <% if (category_id = game[:category]) && category_id != 0 %>
            <%= content_tag :span, "/ #{ convert_category(category_id) }", class: 'gw-b' %>
            <% end %>
            <%= content_tag(:span, "(#{ Time.at(game.first_release_date).year })", class: 'g-year') if game.first_release_date %>
            </h4>
            <%= content_tag(:p, 'by ' + game.developers.map(&:name).join(', '), class: 'g-by') unless game.developers.empty? %>
        </div>
        <% unless shared %>
        <%= content_tag :div, id: "g-menu-#{ id }", class: "g-menu #{ extra }" do %>
        <ul >
            <li>
                <% if needs_platform %>
                <%= link_to('', edit_form_url(game_id: id, collection_id: collection.id, view: @view),
                class: 'my_dd uk-icon-link', remote: true, 'uk-icon': 'pencil',
                'data-mother' => "#g-menu-#{ id }", 'uk-tooltip' => "title: Edit; pos: right") %>
                <% else %>
                <%= content_tag(:a, '', class: 'uk-icon-link cf-disabled', 'uk-icon': 'pencil') %>
                <% end %>
            </li>
            <li>
                <%= link_to('', cm_form_url(game_id: id, collection_id: collection.id, view: @view),
                class: 'my_dd uk-icon-link', remote: true, 'uk-icon': 'copy',
                'data-mother' => "#g-menu-#{ id }", 'uk-tooltip' => "title: Copy / Move; pos: right") %>
            </li>
            <li>
                <%= link_to('', remove_url(game_id: id, id: collection.id, view: @view), class: 'uk-icon-link', method: :delete, remote: true, 'uk-icon': 'trash', 'uk-tooltip': 'title: Delete; pos: right') %>
            </li>
        </ul>
        <%= content_tag :div,nil, class: "g-menu-shadow #{ extra }" %>
        <% end %>
        <% end %>
        <%= content_tag :div, class: "g-right #{ extra }" do %>
        <% if needs_platform %>
        <%= content_tag(:p, game.platform_name) %>
        <%= content_tag(:p, game.physical ? 'Physical' : 'Digital') %>
        <% end %>
        <%= content_tag(:p, game.created_at.to_date ,class: 'g-added') %>
        <% end %>
    </div>
    <% if @reopen.include?(id) %>
        <%= content_tag :div, id: "g-drop-#{ id }", class: 'g-drop s-mod' do %>
            <%= render partial: 'shared/panel_show', locals: { game: game, g_id: game.id } %>
        <% end %>
    <% else %>
        <%= content_tag :div, id: "g-drop-#{ id }", class: 'g-drop empty' do %>
        <% end %>
    <% end %>
    <% end %>
    <% end %>
    <% unless shared %>
    <%= content_tag :div, id: 'f-lone', class: 'copy-form wf',
    'uk-dropdown': "toggle: #z; mode: click; delay-hide: 100; boundary-align: true; pos: right-top" do %>
    <span class="loading">Loading</span>
    <% end %>
    <% end %>
    <div class="uk-width-5-6 page-links bottom">
        <%= js_will_paginate @games, container: false %>
    </div>
</div>
<% else %>
<%= render partial: 'my_games/no_games', locals: { my_search: @in_search } %>
<% end %>
