<div class="sort-links">
    <span class="sort-icon"><%= svg 'sort' %></span>
    <%= sort_link(@q, :name,'Title', {}, {remote: true}) %>
    <div class="srch-div"></div>
    <%= sort_link(@q, :first_release_date,'Release Date', {}, {remote: true}) %>
    <div class="srch-div"></div>
    <%= sort_link(@q, :added,'Added', {}, {remote: true}) %>
</div>
<% if !@games.empty? %>
<div class="uk-grid-collapse list-grid" uk-grid>
    <div class="uk-width-1-1 page-info-front page-links pr">
        <%= js_will_paginate @games, container: false %>
    </div>
    <% @games.select('games.*, collection_games.created_at').each do |game| %>
    <% id = game.id %>
    <% needs_platform = collection.needs_platform %>
    <% mw_class = needs_platform ? '' : ' no-plat' %>
    <% extra = 'out' if edit_open? %>
    <%= content_tag :div, id: "t-#{ id }", class: 't-game uk-width-1-1 uk-grid-collapse', 'uk-grid': ''  do %>
    <%= content_tag :div, class: 't-name t' + mw_class do %>
    <%= game.name %>
    <% if (status_id = game[:status]) && status_id != 0 %>
    <%= content_tag :span, "/ #{ convert_status(status_id) }", class: 'gw-b' %>
    <% end %>
    <% if (category_id = game[:category]) && category_id != 0 %>
    <%= content_tag :span, "/ #{ convert_category(category_id) }", class: 'gw-b' %>
    <% end %>
    <% end %>
    <% release = game[:first_release_date] ? Time.at(game[:first_release_date]).year : '-' %>
    <%= content_tag :div, release, class: 't-release t' %>
    <% developer = !game.developers.empty? ? game.developers.map(&:name).join(', ') : '-' %>
    <%= content_tag :div, developer, class: 't-developer t uk-text-truncate' + mw_class %>
    <% if needs_platform %>
    <%= content_tag :div, game.platform_name, class: 't-platform t' %>
    <%= content_tag :div, game.physical ? 'Physical' : 'Digital', class: 't-format t' %>
    <% end %>
    <%= link_to('', list_show_url(game.igdb_id, id), class: 't-trigger',
    remote: true, 'uk-toggle': 'target: #t-game-show') %>
    <%= content_tag :div, game.created_at.to_date, class: "t-added t" + mw_class %>
    <% end %>
    <% end %>
    <div class="uk-width-1-1 page-links bottom l-mod">
        <%= js_will_paginate @games, container: false %>
    </div>
</div>
<div id="t-game-show" uk-modal ="container: .my-games">
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical" uk-overflow-auto>
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="modal-content">
            <span class="loading">Loading</span>
        </div>
    </div>
</div>
<% else %>
<%= render partial: 'my_games/no_games', locals: { my_search: @in_search } %>
<% end %>
