<p class="header set">Enter password to access settings<%= content_tag :span, svg('lock_open') %></p>
<hr>
<%= form_with(url: settings_url, method: "get") do |f| %>
  <div class="uk-position-relative uk-margin">
    <%= f.password_field :password, id: 'enter-password', class: 'uk-input share-input', placeholder: 'Enter password' %>
    <%= content_tag :span, svg('key'), class: 'set-input-icon' %>
    <%= content_tag :span, svg('warning'), class: 'blink_me set-warning' %>
  </div>
  <%= f.button 'Confirm', class: "uk-button sh-button uk-width-1-1", data: { disable_with: "<div uk-spinner=\"ratio: 0.5\"></div>" } %>
<% end %>
