<%= form_for(@user, url: eval(path), remote: true) do |f| %>
<div id="signup_errors">
  <p id="stupid"></p>
</div>
<%= f.label :email, 'Email' %>
<p><%= f.email_field :email, class: 'uk-input uk-form-width-medium', placeholder: 'Please enter email' %></p>
<%= f.label :password, 'Password' %>
<p>
  <%= f.password_field :password, id: 'password', class: 'password uk-input uk-form-width-medium' %>
  <button class="uk-button unmask"></button>
</p>
<div>
  <label><%= f.check_box(:own_games, checked: false, class: "uk-checkbox search-checkbox") %><span>I have games</span></label>
</div>
<div class="submit">
  <%= f.submit yield(:button_text),
  class: "uk-button uk-button-default" %>
</div>
<% end %>
