<%= form_for(@user, url: eval(path), remote: true) do |f| %>

  <div class="why">
    <hr class="uk-divider-vertical md-divider">
    <p>In a minute you'll be ready to create and maintain your video game collection.</p>
    <p>By clicking the "Create" button you agree to
    <%= link_to 'Terms of Use', root_url, class: 'uk-link-muted' %> and
    <%= link_to 'Privacy Policy', root_url, class: 'uk-link-muted' %>.
    </p>
  </div>




  <div class="inputs">
    <p><%= f.email_field :email, class: 'uk-input uk-form-width-medium', placeholder: 'Email address' %></p>
    <p><%= f.password_field :password, id: 'password', class: 'password uk-input uk-form-width-medium', placeholder: 'Password' %>
      <button class="uk-button unmask"></button>
    </p>

    <div class="own-games">
      <label><%= f.check_box(:own_games, checked: false, class: "uk-checkbox search-checkbox") %><span class="own-games">I have video games</span></label>
    </div>
  </div>



<div class="submit">
  <%= f.submit yield(:button_text),
  class: "uk-button uk-button-default md-button" %>
</div>
<% end %>
