<%= form_for(@user, url: eval(path), remote: true) do |f| %>
<div class="uk-grid-divider" uk-grid>
  <div class="inputs uk-width-large">
    <p><%= f.email_field :email, class: 'uk-input uk-form-width-medium', placeholder: 'Email address' %></p>
    <p>
      <%= f.password_field :password, id: 'password', class: 'password uk-input uk-form-width-medium', placeholder: 'Password' %>
      <!-- <button class="uk-button unmask"></button> -->
    </p>
    <div class="own-games">
      <label><%= f.check_box(:own_games, checked: false, class: "uk-checkbox search-checkbox") %><span class="own-games">I own games</span></label>
    </div>
  </div>
  <div class="why uk-width-small">
    <p>In a minute you'll be ready to create your own screen tests and start collecting data you can... </p>
  </div>
</div>
<div class="submit">
  <%= f.submit yield(:button_text),
  class: "uk-button uk-button-default" %>
</div>
<% end %>
