<p class="header set">User settings <span uk-icon="icon: settings; ratio: 1.4"></span></p>
<span id='set-reload' data-reload="false" hidden></span>
<div class="strike part"><span>Change email address:</span></div>
  <div uk-grid>
    <%= form_with model: @user do |f| %>
      <table class="set-email-pass">
        <tr>
        <td class="uk-position-relative">
          <%= f.email_field :email, id: 'change-mail', class: 'uk-input set-input', placeholder: 'New email address' %>
          <%= content_tag :span, svg('mail'), id: 'email-icon', class: 'set-input-icon'%>
        <td class="btn disabled">
          <%= submit_tag 'Update', id: 'submit-mail', class: 'set-confirm' %>
        </td>
        </tr>
      </table>
    <% end %>
    <div>
      <p id="mail-update-info" class="update-info">
        <span uk-icon="check"></span>
        <span></span>
      </p>
    </div>
  </div>
<div class="strike part"><span>Change password:</span></div>
  <div uk-grid>
    <%= form_with model: @user do |f| %>
      <table class="set-email-pass">
        <tr>
        <td class="uk-position-relative">
          <%= f.password_field :password, id: 'change-password', class: 'uk-input set-input password', placeholder: 'New password', autocomplete: 'new-password' %>
          <button class="uk-button unmask" type="button"></button>
          <%= content_tag :span, svg('key'), id: 'password-icon', class: 'set-input-icon'%>
        <td class="btn disabled">
          <%= submit_tag 'Update', id: 'submit-password', class: 'set-confirm' %>
        </td>
        </tr>
      </table>
      <p id="password-min">6 characters minimum</p>
    <% end %>
    <div>
      <p id="pass-update-info" class="update-info">
        <span uk-icon="check"></span>
        <span></span>
      </p>
    </div>
  </div>
<div class="strike part"><span>Platforms:</span></div>
<p class="discription">List of platforms lets you filter your games. You obtain a platform by adding a game to a collection that requires such information. You can delete unwanted platforms below. Deleting platform will not delete your games for this platform, will only disable filter option for this platform.</p>
<%= render 'platforms/platforms' %>
<div class="strike part"><span>Games per page:</span></div>
<p class="discription">Define how many games you want to see per page. Only applies to your collections.</p>
<%= form_with(url: change_gpv_url) do %>
<table class="range-holder">
  <tr>
    <td class="rng-lab">min</td>
    <td>
    <%= content_tag :p, gpv = current_user.gpv, id: 'gpv-counter', class: 'disabled' %>
    </td>
    <td class="rng-lab">max</td>
  </tr>
  <tr>
    <td class="rng-mima">5</td>
    <td>
      <%= range_field(:user, :games_per_view, in: 5..50, step: 1, value: gpv) %>
    </td>
    <td class="rng-mima">50</td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag 'Update', id: 'submit-gpv', class: 'uk-button sh-button rng-button disabled' %></td>
    <td></td>
  </tr>
</table>
 <% end %>
<div class="strike part"><span>Remove Account:</span></div>
<p class="discription">Deleting account will remove all your data. If you change your mind, you won't be able to recover it.</p>
<%= link_to user_url, class: 'uk-button sh-button del-user-btn', method: :delete do %>
<%= content_tag :span, svg('warning') %>
Delete Account
<%= content_tag :span, svg('warning') %>
<% end %>
