<div id="g-<%= game.id %>" class="g-panel uk-width-1-1 uk-grid-collapse" uk-grid>
  <div class="thumb-c"><%= get_game_thumb(game) %>
    <div class="shadow"></div>
  </div>
  <div class="g-info uk-width-expand">
    <h4 class="g-title"><%= game.name %>
    <%= content_tag(:span, "(#{ Time.at(game.first_release_date).year })", class: 'g-year') if game.first_release_date %></h4>
    <%= content_tag(:p, 'by ' + game.developers.join(', '), class: 'g-by') if game.developers %>
  </div>
  <% if needs_p %>
  <div class="g-platform">
    <div class="middle">
    <%= content_tag(:p, game.platform_name) %>
    <%= content_tag(:p, game.physical ? 'Physical' : 'Digital') %>
    </div>
  </div>
  <% end %>
  <div class="g-nav uk-text-center">
    <ul class="uk-iconnav">
      <li>
        <%= content_tag(:a, '',id: "g-move-#{ game.id }", class: "uk-icon-link",
        'uk-icon' => 'icon: push; ratio: 1.2', 'uk-tooltip' => "title: Move; pos: top-left") %>
      </li>
      <li>
        <%= content_tag(:a, '',id: "g-copy-#{ game.id }", class: "uk-icon-link ",
        'uk-icon' => 'icon: copy; ratio: 1.2', 'uk-tooltip' => "title: Copy; pos: top-left") %>
      </li>
      <li>
        <%= content_tag(:a, '',id: "g-delete-#{ game.id }", class: "uk-icon-link ",
        'uk-icon' => 'icon: trash; ratio: 1.2', 'uk-tooltip' => "title: Delete; pos: top-left") %>
      </li>
    </ul>
  </div>
</div>
