<% results = check_for_games(igdb_id: igdb_id) %>
<% if results %>
  <hr>
  <p>"<%= game_name %>" in custom collections:</p>
  <ul>
  <% results.each do |c, g| %>
    <% if c.needs_platform %>
      <li>
      in "<%= c.name %>":
      <ul>
      <% g.each do |game| %>
        <li>
        - <%= game.platform_name %> (<%= game.physical ? 'Physical' : 'Digital' %>)
        <%= link_to '', remove_s_url(game_id: game.id, collection_id: c.id, id_type: 'game_id'),
        class: 'uk-icon-link acf-remove', method: :delete, remote: true, 'uk-icon' => 'icon: trash; ratio: 0.8' %>
        </li>
      <% end %>
      </ul>
      </li>
    <% else %>
      <li>
      in "<%= c.name %>" <%= link_to '', remove_s_url(game_id: g.first.id, collection_id: c.id, id_type: 'game_id'),
    class: 'uk-icon-link acf-remove', method: :delete, remote: true, 'uk-icon' => 'icon: trash; ratio: 0.8' %>
      </li>
    <% end %>
  <% end %>
  </ul>
<% end %>

