<% igdb_id = game[:igdb_id] %>
<% game_name = game[:name] %>

<div id="i-<%= igdb_id %>" uk-offcanvas="mode: none; bg-close: true">
    <div class="uk-offcanvas-bar">
        <!-- <button class="uk-offcanvas-close" type="button" uk-close></button> -->
        <!-- TITLE & RELEASE YEAR -->
        <h3 class="info-title"><%= game_name %>
        <% if game[:first_release_date]%>
        <span class="info-year">(<%= Time.at(game[:first_release_date]).year %>)</span>
        <% else %>
        <% end %>
        </h3>
        <!-- DEVELOPER -->
        <p class="info-by"><%= (devs = game[:developers]) ? "by " + devs.join(', ') : '' %></p>
        <!-- COVER -->
        <% if cover %>
        <%= image_tag('', class: 'game-cover info-cover', width: cover[:width], 'data-src' => cover[:url], alt: game_name, 'draggable' => 'false', 'uk-img' => "target: #gc-#{ igdb_id }" ) %>
        <% else %>
        <div class="i-no-cover"><%= svg 'no_image_i' %>
            <span>No Cover Available</span>
        </div>
        <% end %>
        <!-- PLATFORMS -->
        <% if platforms = game[:platforms_names] %>
        <p class="info-platform">
            <% platforms.each do |platform| %>
            <span>
                <% unless platform == platforms.last %>
                <%= platform + ', ' %>
                <% else %>
                <%= platform %>
                <% end %>
            </span>
            <% end %>
        </p>
        <% end %>
        <!-- SUMMARY -->
        <% if summary = get_summary(game, 280, 50) %>
        <p class="info-summary"><%= summary[:start] %><% if summary[:end] %><span class="dots" id="dots-<%= igdb_id %>"><%= summary[:span] %><button class="uk-icon-link uk-icon ms-b-down" onclick="myFunction(<%= igdb_id %>)" uk-icon="icon: triangle-down"></button></span> <span id="more-<%= igdb_id %>" class="more"><%= summary[:end] %><button class="uk-icon-link uk-icon ms-b-up" onclick="shortSummary(<%= igdb_id %>)" uk-icon="icon: triangle-up"></button></span>
    </p>
    <% end %>
    <% end %>
    <!-- SLIDESHOW -->
    <% if screens = game[:screenshots] %>
    <% urls = screens_urls(screens) %>
    <div class="uk-position-relative md-slide" uk-slideshow="animation: fade" uk-lightbox="toggle: .uk-position-cover; animation: fade">
        <ul class="uk-slideshow-items md-slide-items">
            <% no_of_screens = 0 %>
            <% urls.each_with_index do |url, i| %>
            <li>
                <% img_target = (i == 0) ? "target: #gc-#{ igdb_id }" : "target: #i-#{ igdb_id }" %>
                <%= image_tag('', 'data-src' => url[:small], alt: game_name, 'uk-cover' => '', 'uk-img' => img_target ) %>
                <%= content_tag(:a, '', href: url[:big], class: 'uk-position-cover') %>
            </li>
            <% no_of_screens += 1 %>
            <% end %>
        </ul>
        <!-- SLIDESHOW NAVIGATION -->
        <% if no_of_screens > 1 %>
        <table class="t-scr">
            <tr>
                <td class="arrow-left">
                    <a class="uk-icon-link" href="#" uk-slideshow-item="previous" uk-icon='chevron-left'>
                    </td>
                    <td>
                        <div class="hor-cen-list">
                            <ul id="screen-nav">
                                <% no_of_screens.times do |t| %>
                                <li uk-slideshow-item="<%= t %>"><%= content_tag(:a, '', href: '#',
                                class: 'uk-icon-link', 'uk-icon' => 'image') %></li>
                                <% end %>
                            </ul>
                        </div>
                    </td>
                    <td class="arrow-right">
                        <a class="uk-icon-link" href="#" uk-slideshow-item="next" uk-icon='chevron-right'></a>
                    </td>
                </tr>
            </table>
            <% end %>
        </div>
        <% end %>
        <!-- LINKS -->
        <hr>
        <div id="info-links">
            <%= link_to '',"http://www.google.com/search?q=%22#{ game_name.gsub(' ', '+') }%22+video+game" , class: "ex-link google uk-icon-button uk-margin-small-right", target: "_blank", "uk-icon" => "google" %>
            <%= link_to svg('metacritic_icon'),"https://www.metacritic.com/search/game/#{ game_name.gsub(' ', '%20') }/results" , class: "ex-link metacritic uk-icon-button uk-margin-small-right", target: "_blank" %>
            <button id='i-flipper-<%= igdb_id %>' class="flip"><%= svg 'flip_icon' %></button>
        </div>
    </div>
</div>

