<!DOCTYPE html>
<html>
  <head>
    <title>Still Have Them</title>
    <% theme = current_theme %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag "#{theme}", id: 'theme-control', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0' %>
    <%= favicon(theme) %>
  </head>
  <body>
    <div id="land-container" class="uk-container uk-container-expand">


      <div id="land-wrap">


      <%= yield %>
      <footer class="lp-footer">
        <ul>
          <li><%= link_to "?", info_url(doc: 'about'), class: "about-link" %></li>
          <li><%= link_to "TERMS", info_url(doc: 'terms'), class: "about-link" %></li>
          <li><%= link_to "PRIVACY", info_url(doc: 'privacy'), class: "about-link" %></li>
        </ul>
      </footer>

</div>

    </div>
  </body>
</html>
