<div class="main-menu">
    <a id="menu-button" href="" uk-icon="menu"></a>



    <div id="menu-dropdown" class="uk-navbar-dropdown" uk-dropdown="mode: hover; toggle: #menu-button; pos: right-bottom">
        <ul class="uk-nav uk-navbar-dropdown-nav">
            <li>Logged in as:</li>
            <li><%= current_user.email %></li>
            <li class="uk-nav-divider"></li>
            <li><%= link_to 'Home', root_url %></li>
            <li><%= link_to "Add Games", search_url, 'data-turbolinks' => 'false' %></li>
            <li class="uk-nav-divider"></li>
            <% current_user.collections.each do |collection| %>
            <li><a href="#"><%= collection.custom_name || collection.name %></a></li>
            <% end %>
            <li class="uk-nav-divider"></li>
            <li><a href="#">Settings</a></li>
            <li><%= link_to 'Logout', logout_path, method: :delete %></li>
        </ul>
    </div>
</div>
