<div class="side-menu">
  <ul>
    <li id="m-search"><%= link_to '', search_url, remote: true, class: 'm-add', 'uk-icon': 'search' %></li>
    <% current_user.collections.each do |collection| %>
    <li id="mc-<%= collection.id %>">
      <%= link_to collection.name, collection, remote: true , class: 'm-coll' %>
      <span class="opts">
        <%= link_to '', edit_collection_url(collection), remote: true, class: 'uk-link m-coll-o', 'uk-icon': 'icon: pencil; ratio: 1.25', "uk-toggle": "target: #coll-modal", 'uk-tooltip': "title: Edit; pos: top-left" %>
        <%= link_to '', del_form_url, remote: true, class: 'uk-link m-coll-o', 'uk-icon': 'icon: trash; ratio: 1.25', "uk-toggle": "target: #coll-del-modal", 'uk-tooltip': "title: Delete; pos: top-left" %>
      </span>
    </li>
    <% end %>
    <li><%= link_to '', new_collection_path, id: 'm-add-coll', remote: true, "uk-toggle": "target: #coll-modal", class: 'm-add', 'uk-icon': 'plus' %></li>
  </ul>
</div>
