<div class="toolbar">
    <%= content_tag :span, last_form, id: 'last-form' %>
  <ul>
  <!-- cover view -->
  <li><%= content_tag :a, nil, class: 'change-s-view', 'view': 'cover_view', 'uk-icon': 'thumbnails' %></li>
  <!-- panels view -->
  <li><%= content_tag :a, nil, class: 'change-s-view', 'view': 'panel_view', 'uk-icon': 'list' %></li>
  <!-- list view -->
  <li><%= content_tag :a, nil, class: 'change-s-view', 'view': 'list_view', 'uk-icon': 'table' %></li>
  <!-- change theme -->
  <li><%= content_tag :a, nil, id: 'change-theme', 'uk-icon': 'paint-bucket' %></li>
  <!-- hide overlays -->
  <li><%= content_tag :a, nil, id: 'addl-hide', 'uk-icon': 'close' %></li>
  <!-- scroll up -->
  <li><a class="" href="#target"
    uk-icon="icon: arrow-up; ratio: 1"
    uk-scroll="duration: 600"></a></li>
  </ul>
</div>
