<%= form_for("search", method: :get, remote: true,
  class: "uk-search uk-search-navbar uk-dark") do |f| %>
  <%= f.text_field(:inquiry, placeholder: "Search video games..." , class: "uk-search-input", autofocus: "true", autocomplete: "off") %>
  <%= f.check_box :console, checked: "checked" %> <span>big consoles</span>
  <%= f.check_box :arcade, checked: "checked" %> <span>arcade</span>
  <%= f.check_box :portable, checked: "checked" %> <span>portable consoles</span>
  <%= f.check_box :pc, checked: "checked" %> <span>PC (with PC DOS)</span>
  <%= f.check_box :linux, checked: "checked" %> <span>Linux (with SteamOS)</span>
  <%= f.check_box :mac, checked: "checked" %> <span>Mac</span>
  <%= f.check_box :mobile, checked: "checked" %> <span>mobile devices</span>
  <%= f.check_box :computer, checked: "checked" %> <span>old computers</span>
  <%= f.check_box :other, checked: "checked" %> <span>other</span>
  <%= f.check_box :erotic, checked: "unchecked" %> <span>erotic games</span>
  <%= f.check_box :only_released, checked: "checked" %> <span>only released games</span>
  <%= f.submit 'default', type: "reset" %>
  <%= f.submit 'Search', data: { disable_with: "Please wait..." } %>
<% end %>
