<%= content_tag :div, id: 'toolbar', class: "#{tb_open?(shared)} #{'guest' if shared}" do %>
<%= content_tag :a, nil, id: 'tool-show', class: tb_open?(shared), 'uk-icon': 'chevron-left' %>
<ul>
  <li>
    <% graph_form_url = shared ? guest_graph_form_url(collection_id) : graph_form_url(collection_id) %>
    <%= link_to svg('chart'), graph_form_url, id: 'chart', class: 'uk-icon', remote: true, 'uk-toggle': 'target: #f-modal' %>
  </li>
  <li>
    <%= content_tag :a, svg('dark'), id: 'change-theme', class: "uk-icon #{ current_theme == 'theme_dark' ? 'active' : '' }"  %>
  </li>
  <hr>
  <li><%= content_tag :a, nil, id: 'covers', class: "change-my-view", 'coll_id': collection_id, 'uk-icon': 'thumbnails' %></li>
  <li><%= content_tag :a, nil, id: 'panels', class: "change-my-view", 'coll_id': collection_id, 'uk-icon': 'list' %></li>
  <li><%= content_tag :a, nil, id: 'list', class: "change-my-view", 'coll_id': collection_id, 'uk-icon': 'table' %></li>
  <%= content_tag :li do %>
  <% uc_change = 'active' unless ucs_closed?(shared) %>
  <%= content_tag :a, nil, id: 'undercover', class: uc_change, 'uk-icon': 'info' %>
  <% end %>
  <%= content_tag :li do %>
  <%= content_tag :a, nil, id: 'close-panels', 'uk-icon': 'shrink' %>
  <% end %>
  <% unless shared %>
    <%= content_tag :li do %>
    <%= content_tag :a, nil, id: 'g-show-edit', class: ('active' if edit_open?), 'uk-icon':'cog' %>
    <% end %>
  <% end %>
  <hr>
  <li><%= content_tag :a, nil, id: 'tool-hide', 'uk-icon': 'chevron-right' %></li>
</ul>
<% end %>
