<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/menu' %>
    <div class="main-container">
      <%= render 'layouts/navigation' %>

      <div class="uk-grid-match uk-grid-collpase" uk-grid>
        <div class="uk-width-1-6"></div>
        <div class="uk-width-2-3">
          <div id="big-c" class="uk-container content-wrap">
            <%= yield %>
          </div>
        </div>
        <div class="uk-width-1-6"></div>
      </div>

    <%= render 'layouts/footer' %>
    </div>
</body>
</html>
